[2016-04-15 19:52] junmipan opened #1 "support for nested records"
Great to see this tool in the making.  Would you consider adding support for nested records?
For example, the following schema contains a nested record.
{
  "type": "record",
  "name": "OuterRecord",
  "namespace": "...",
  "doc": "Schema containing record type",
  "fields": [
    {
      "name": "nested-record",
      "type": {
        "type": "record",
        "name": "NestedRecord",
        "do

[2016-04-15 21:17] alanctgardner commented on #1
I made some changes, nested record definitions should work now. Let me know if you have any more issues!

[2016-04-15 22:00] junmipan commented on #1
Wow!  That is a lightning fast resolution.  Thanks, Alan. Great work!

A few more items for you to consider:
1. enum
2. non string type union members (primitive & complex types)
3. This could be a bit demanding.  Allow multiple schema (files) as input.  And allow latter to reference former as type.  Generate each in its own Go file.  You might have figured where this came from (the Apache avro-too

[2016-04-22 01:41] alanctgardner opened #2 "Output to multiple files like the Java code generator"
Split different Record classes into different source files, instead of concatenating everything together.

[2016-04-22 01:43] alanctgardner commented on #1
1) I've added support for enumerations now, they should work.
2) All types can be members of unions right now - I need to add some integration tests for unions of non-primitive types, but everything *should* work.
3) This is a pretty big chunk of work, but it's on the roadmap (after deserializing). I made a new issue to cover this request.

I'm going to close this issue since the original problem

[2016-04-22 01:43] #1 closed

[2016-04-22 01:45] alanctgardner opened #3 "Support deserializing records"
Right now we can read schemas and serialize structs, add deserialization support.

[2016-04-22 01:46] alanctgardner opened #4 "Integration tests for nested complex types"
Add integration tests for maps, arrays and unions containing complex types (maps, arrays, unions, records).

[2016-04-27 14:57] cweaver1321 opened #5 "Support for unions with records"
The current implementation (decodeUnionDefinition) assumes that your unions will only contain a go string type. If you have a union with a type that is not primitive it fails.

Error:
Decoded field err map[default:<nil> name:someId type:[null map[name:ID namespace:com.mystuff size:16 type:fixed]]] - Union members for someId is not of type strings

Schema file used:
[unionFailure.txt](https://githu

[2016-04-28 02:40] #4 closed

[2016-04-28 02:40] alanctgardner commented on #5
This should be resolved now on master. Let me know if it works for you!

[2016-05-09 05:40] alanctgardner commented on #2
This is now fixed on master.

[2016-05-09 05:40] #2 closed

[2016-05-09 05:41] alanctgardner commented on #1
@junmipan Just so you know, all of the suggestions you made have been implemented.

[2016-05-09 17:57] alanctgardner commented on #3
Resolved on master.

[2016-05-09 17:57] #3 closed

[2016-08-04 12:19] rmanojcit opened #6 "nested array of records not able to generate go files properly"
When I try to generate go files for schema without nested array like one below it works as expected

[code]

For the schema mentioned above gogen-avro is able to  generate the structs below as expected

[code]

But when make the schema to consist of an array of records like

[code]

gogen-avro  generates a struct like

[code]

I would expect it to be something like the below structs instead

[code

[2016-08-04 12:23] alanctgardner commented on #5
@cweaver1321 I'm going to go ahead and close this, feel free to make a new issue if it isn't resolved.

[2016-08-04 12:23] #5 closed

[2016-08-20 02:10] alanctgardner commented on #6
Hi @rmanojcit! Thanks for the detailed issue, I was able to create an integration test for your schema and confirm this was an issue.

I've fixed the problem in master, arrays of records are now correctly serialized and deserialized. Let me know if you have any further issues, or feel free to close this issue if things are working for you.

[2016-12-29 23:30] alanctgardner commented on #6
I'm closing this issue to tidy things up, feel free to re-open it if the problem isn't resolved.

[2016-12-29 23:30] #6 closed

[2017-01-11 23:25] aledesma78 opened #13 "Code generation fails when using a custom type"
Hello.

While using version 3 of the generator, if the avro schema contains a type that is part of a namespace code generation fails. This is because the name of the object is invalid (it contains dots)

Avro Schema sample:

`{
  "type" : "record",
  "name" : "test",
  "namespace" : "com.avro.test",
  "doc" : "GoGen test",
  "fields" : [ {
    "name" : "header",
    "type" : [ "null", {
      "typ

[2017-01-15 21:24] alanctgardner commented on #13
Hi! Thanks for reporting this bug - right now in master we don't have support for fully-qualified names, which is a bit limiting. Fully adding support for namespaces would be a big undertaking that I haven't thought through yet.

If you're OK with all your types being dumped into a single, global namespace, I've got a branch you can try out: https://github.com/alanctgardner/gogen-avro/tree/namespa

[2017-01-17 18:59] aledesma78 commented on #13
The package now builds correctly.. I'll try creating some container files and then try to open them with the avro-tools java package to confirm. Thanks for your help.. I'll update with my results shortly.

I'd love to help with the full qualified namespace work, from what I've seen in the avro package it would probably mirror that in having foo/bar/<type> and foo/bar/<collection> in the generation

[2017-01-17 21:33] jadbox opened #14 "(question) Production ready?"
I'm currently evaluating the fastest method to use Avro with Go, and this seems like the ideal lib. Does anyone have experience working with this in production setting? Our particular setting is using Avro over Kafka with relatively simple schemas.

[2017-01-17 21:45] aledesma78 commented on #13
Alan, I'm getting a java error when trying to get the schema from the container file, I'm using a schema that is a bit more complicated but was still failing because of the namespace issue.

`java` -jar ~/java/classes/avro-tools-1.8.1.jar getschema example_avro_container.avro
log4j:WARN No appenders could be found for logger (org.apache.hadoop.metrics2.lib.MutableMetricsFactory).
log4j:WARN Please

[2017-01-17 22:45] aledesma78 commented on #13
Got it working by making the schema self contained instead of using multiple files.

There is a corner case that I'll add an issue on, but I don't now if it is worth it, it has to deal with custom types added by the avro-tools getschema function.

[2017-01-17 23:19] aledesma78 commented on #13
Ok, so after figuring out that you need to set the null union enum object to 1 after putting the required values in the struct, I was able to get the container schema and json data using avro-tools.

There is an issue with a java type added by the compiled schema by the avro-tools compiler. I dunno if you think I should open another report about it.

Thanks for all the help.

[2017-01-17 23:27] alanctgardner commented on #14
We use gogen-avro in production at my day job, encoding millions of events every day to publish to Kafka. It sounds like a similar use case. The schema we use is also open source: https://github.com/osso-project/osso

Standard open-source caveats apply: I work on this project in my free time, so support is best effort. My employer doesn't make any guarantees about your use case, etc. etc. I try to

[2017-01-17 23:46] alanctgardner commented on #13
Thanks for all your work on this identifying the issues! I think there are three things to improve here:
- proper support for fully-qualified namespaces
- multiple schemas defined in an array in a single file
- multiple file schema definitions with namespaces don't seem to work in

Can you provide the schemas you were using so I can add them to the integration tests and dig into these issues? If y

[2017-01-19 22:46] jadbox commented on #14
Cool thanks for the overview

[2017-01-19 22:46] #14 closed

[2017-01-19 23:14] aledesma78 commented on #13
I have a few documentation and few new code samples on a pull that I'll start doing while I get myself acquainted with the code, I'll try to create a couple of schemas samples to add to the tests soon

[2017-01-20 15:27] rikonor opened #15 "Support for multiple root objects"
Hi,

While trying to generate code for the following schema does works:
[code]
It turns out that the above schema is not valid avro (because of defining the type `ip_address` twice).

It was noticed that it's possible to reformat the schema in the following way:
[code]
but seems like this schema structure is not supported by `gogen-avro`.

[2017-01-20 18:16] rikonor opened #16 "Add a private flag so generated structs aren't visible outside the package"
Hi,

I noticed that the generated code will contain many exported things that don't necessarily need to be exported.

A few examples are:
[code]

Should those be left as is or possibly made private?

[2017-01-22 19:43] alanctgardner commented on #15
I'm working on a branch that will support schemas like this, it should be available shortly!

[2017-01-22 19:45] alanctgardner commented on #16
I agree that these should be private, unfortunately because of how they're generated it would be difficult. I'm wondering if adding some godoc comments to these (basically saying "don't use this") would be a good solution short-term.

[2017-01-22 22:44] rikonor commented on #15
Thanks Alan!

[2017-01-23 22:40] rikonor opened #17 "Common interfaces"
Hey Alan,

I would like to discuss something with you.

It's come up that the generated code contains some things that could be better represented as interfaces. Specifically, the following two:

[code]

[code]

Internally, for us, it made a lot of sense to define those interfaces in another package (`avroutil`) and make some changes to the generated code that allow us to treat some of the functio

[2017-01-25 01:33] alanctgardner commented on #17
I think I understand the use case - basically we could pull all of the container writing logic out into a separate package, and have all the record definitions implement the Serializable interface?

I see some difficulties with this:
- the container writer needs to know the schema of the records, in order to write the header
- the container writer needs to enforce that all the records in the conta

[2017-01-25 04:07] alanctgardner commented on #13
@aledesma78 I made some pretty major changes to master which should fix your issues with namespaces and multiple records being defined in an array in a single file. All of the generated files are still stored in one directory (regardless of namespace) but the name resolution will work correctly. Let me know if you run into any issues!

[2017-01-25 04:08] alanctgardner commented on #15
This should be resolved in master now - I changed quite a bit about how type definitions are resolved and how containers are generated to support this kind of use case.

[2017-01-25 14:15] rikonor commented on #17
Hey Alan,

Looks great! I'll make some time over the weekend to try it out. Thanks for taking the time to make these changes.

[2017-01-26 04:00] rikonor commented on #17
Tested and works great! Thank you so much for taking the time. Avro is much less painful to work with thanks to this library.

I suspect we still have to run a slight fork with Deserialize returning an `AvroRecord` - we have a piece of code with a struct containing:
[code]
So that allows us to have a slice of those structs, each with a different `Deserialize` function.

[2017-01-26 04:00] #17 closed

[2017-01-26 04:00] rikonor commented on #15
Tested and works great. Thanks!

[2017-01-26 04:00] #15 closed

[2017-01-26 16:20] rikonor opened #19 "Accessing schema metadata fields"
Hey Alan,

Is it possible somehow to access metadata fields on a schema?

Notice the `uuid_keys` metadata field on this schema:

[code]

Originally, we were using that field to generate a `GenerateID` method on the record struct.
Although, after the current changes, it seems a bit more problematic to get that field.
I tried implementing it again in [here](https://github.com/securityscorecard/gogen

[2017-01-29 22:25] alanctgardner commented on #16
With the most recent refactor to how container files are generated, I think this issue is resolved - these types are all isolated in the container package.

[2017-01-30 03:59] alanctgardner commented on #19
I made a change so the `Schema` method now includes metadata fields, let me know if that works for you. There's an example in this test: https://github.com/alanctgardner/gogen-avro/blob/master/test/union-root/container_test.go#L38-L57

[2017-01-30 17:31] rikonor commented on #16
Great, thanks a ton.

That said, though, even though they are in `container`, aren't they still exported?

[2017-01-30 17:32] rikonor commented on #19
Tested and works great, thanks!

[2017-01-30 17:32] #19 closed

[2017-01-31 20:45] aledesma78 commented on #13
Sure, I'll try those today.

[2017-02-01 00:08] aledesma78 commented on #13
Alan, great work on this version, I found a bug,  it seems that the case of the field doesn't match the case of the avro schema, I guess this has to do with the way Go handles exported struct fields, I guess that the way to do it is add a struct tag in the same way the go encoding JSON packages work.

Ref: https://golang.org/src/encoding/json/tags.go

type AvroSchema struct {
        Header   Unio

[2017-02-03 18:25] rikonor opened #20 "Record Schema method become camel case"
Hi,

Currently, when generating the struct for a record, field names get converted to camel case, e.g. `ip_address` -> `IPAddress`. This is so struct field names are more Go idiomatic.

That said, I also noticed that the generated Schema method of a record will contain the CamelCase field names, instead of the original names. This means that the schema loses the original casing of the names.

[2017-02-04 01:21] alanctgardner commented on #20
Thanks for reporting this Or! It should be fixed in master now. I'm planning to add more unit tests around the container file schemas but I haven't found time yet.

[2017-02-05 02:06] rikonor commented on #20
Great, thanks very much Alan!

[2017-02-05 02:06] #20 closed

[2017-02-05 19:55] alanctgardner commented on #13
@aledesma78 Sorry it took so long to look into this, I've fixed the issue with `Schema` not returning the correct field names. It should all work as expected now.

[2017-02-05 20:18] alanctgardner commented on #16
That's correct, they're still exported from `container` right now, which is less than ideal. I'd be open to adding a flag like `--private` that doesn't export the generated structs for this kind of case.

[2017-02-05 20:41] rikonor commented on #16
Ah, that's interesting. I did not realize that `container` has generated files. Is that necessary, though? I guess it is a pretty elegant solution. That said, this is a very minor issue overall.

[2017-02-10 16:14] marcosrmendezthd commented on #13
hi. any ETA on supporting namespaces? looking to use this to speedup my encoding/decoding! :smile:

[2017-02-10 16:27] alanctgardner commented on #13
@marcosrmendezthd In the most recent release (4.0.1) namespaces work, but they don't map 1:1 onto Go packages. In other words, you should be able to generate your serializers and deserializers, but they'll all end up in one top-level Go package. The only case I know of where this breaks down is when you have two types (records, fixed or enums) with the same name in different namespaces (like `foo.

[2017-03-09 20:39] saurori opened #23 "Struct not generated for record inside fields"
In the following example, the `SpfSub` struct is not included in the generated code, but it is referenced:

[code]

Generated spf_sub.go
[code]

[2017-03-09 21:56] #23 closed

[2017-03-29 03:49] rikonor opened #25 "Handling default values"
Hey Alan,

I noticed that `default` values don't seem to be handled at the moment (unless I'm missing something).

I generated code based on:
[code]

Then ran:
[code]

which output:
[code]

If I uncomment the line above, I get a value as expected.

[2017-04-05 11:55] alanctgardner commented on #25
Sorry about the slow reply. Default values don't work right now, I should have time in the next few days to add them.

[2017-04-05 12:06] alanctgardner opened #27 "Handling primitive field types in a type map"
Support maps for `type`, even when the nested type is just a primitive and some metadata. Also, pass through the metadata for those primitive types so container files are written correctly.

Expanding on this PR: #26

[2017-04-05 19:00] rikonor commented on #25
No worries. Thanks a lot for you work Alan!

[2017-04-17 20:32] alanctgardner commented on #27
I did a big refactor (db44e7733e17f8668802eba179251d6450dc219e) which included adding support for the `type` field being a map. It should also handle serializing and deserializing metadata for these fields (extra fields in the JSON schema) in container files.

[2017-04-17 20:32] #27 closed

[2017-04-18 03:02] alanctgardner commented on #25
@rikonor Default values should work in master now - every Record struct has a constructor method that will set the values from the schema file. Let me know how it works for you!

[2017-04-18 19:56] rikonor commented on #25
That's fantastic. Thank you very much @alanctgardner

[2017-04-18 19:56] #25 closed

[2017-05-04 05:08] jtwatson opened #28 "Naming Conflicts in generated code"
I just ran across an issue caused from the way that field names are generated where we end up with two fields with the same name, and obviously the go code will not compile.

Example:
[code]
The resulting struct will not compile:
[code]
will not compile.

[2017-05-05 02:20] alanctgardner commented on #28
@jtwatson Thanks for bringing this up! We were using snaker to convert names to idiomatic Go names, but it turns out that leads to name collisions in existing schemas (like this).

I've made a change in master which should reduce the number of collisions for now. The

[2017-05-09 01:52] jtwatson commented on #28
Looks like this will reduce the collisions to the least possible and still produce valid go names.  I have a project that is auto generating code that uses the go code generated by gogen-avro, so it is important for me long term that this is predictable.  I think I will start using your ```ToPublicName()``` function.

Thanks for the work you do!

[2017-05-10 18:56] #28 closed

[2017-05-10 19:25] jtwatson opened #30 "Ideas"
Hello,

I just wanted to bring up a few things that I ran across when using your lib in my project.  I am able to make things work as-is, but thought it might be helpful to share with you.

First, my project is rather large.  I am writing a program to extract a over 1000 sql views out of one product and dump them into another product.  The destination product accepts avro files, so this is the int

[2017-05-12 03:44] alanctgardner commented on #30
Hey @jtwatson, I'm glad to hear this project has been helpful! I never thought about this kind of use case, but I made some adjustments on master that I think will help. You should be able to programmatically generate your files like this:

[code]

[2017-05-12 19:59] jtwatson commented on #30
Thank you very much!  This worked awesome!

[2017-05-23 20:50] sbramin commented on #30
@jtwatson I have a very similar use case to yours and am currently trying to work out the best approach to handling nulls from SQL sources.  Initially I thought I could just initialize the struct created by gogen-avro and use it for pulling out data from a rows.Scan() and then pushing that same struct into WriteRecord().  Then for fields with nulls I created a separate var of type sql.NullString e

[2017-05-24 07:26] sbramin commented on #30
Figured out why always null issue, needed to set the UnionType,
`                if pbsp.Valid {
                        x.PLAYBACKSPEED.Long = pbsp.Int64
                        x.PLAYBACKSPEED.UnionType = 1
                }
`
Sometimes its necessary to say something out loud to fully understand it.

[2017-05-25 15:32] mremond opened #31 "Handling schema compatibility"
Is the parsing lib able to support parsing content generated with different schema, assuming the Avro schema compatibility rules are properly applied ?

For example, adding a field with a default value should not break schema compatibility.

I made some test with it, but I am hitting EOF error.

For example, here is a possible acceptable change:
1. Add a field at the end of your structure in new v

[2017-05-25 22:08] jtwatson commented on #30
@sbramin I generated separate structs for the source and destination, and then generated a copy() function that would move data from the source struct into the gogen-avro generated destination struct.  In this manner I was able to fully handle null types without any issue at all.  I also use this step for data transformation.

Regarding the performance question, I never use linkedin's avro lib, so

[2017-05-27 09:30] mremond commented on #31
For the record, I shared my experiments in this repository: https://github.com/mremond/avro-compat-test

[2017-06-05 01:54] alanctgardner commented on #31
Sorry this isn't documented more clearly: so far we don't support any schema evolution - there's an assumption that the writer and reader schemas are the same. This is the big change that has held up reading container files.

Avro is kind of unique in how it handles schema evolution - the readers always need to have the writer schema. This is different from a tagged format like protobuf, where you

[2017-06-07 05:22] karrick commented on #31
@alanctgardner, I've been tossing this schema evolution issue as well in my goavro rewrite at https://github.com/karrick/goavro.

I'm not quite sure how the schema is supposed to evolve. Basically the reader would have to have both the original schema used to write the Avro binary blob, along with the new schema.

I've tried to capture the use case of migrating schemas using this `arw` utility, bu

[2017-06-07 07:04] mremond commented on #31
Hello Alan,

Thanks for your feedback. My use case is as follow. I am replacing existing code that is using Avro on the Wire (through Kafka) and in database to store large chunk of information.
Schema compatibility is done by using schema registry and trying to find the best schema to use.

What I have started doing is to trying writing a static schema registry that can be embedded in application

[2017-06-07 17:32] karrick commented on #31
@mremond, our use case at LinkedIn is very similar. Kafka prefixes each Avro blob with a schema ID, which is used to download a schema from a schema registry service. Once we have the schema JSON, we compile a goavro.Codec on the fly to decode the remaining Avro blob and pass the native datum off to the next stage of the process.

I've simplified it a little because we actually maintain a memoized

[2017-06-07 18:45] mremond commented on #31
@karrick thanks for the update :)
To be sure I understand it well, you use gogen-Avro to statically compile your codec on the fly, codec being static is very efficient. Am I right ? How do you load the compiled binary in Go dynamically ? Do you use plugins ?

[2017-06-07 23:02] karrick commented on #31
No I use https://github.com/karrick/goavro because it was designed to compile and use schemas on the fly when they are not known ahead of time.

I am not trying to detract against this library. If you know the schema ahead of time this library can create highly performant code. But if you don't always have your schema at build time, goavro sounds like a better fit for your particular needs...

[2017-06-14 02:56] alanctgardner commented on #31
@mremond I've been working on a version of gogen-avro that would support reading a compatible schema into a generated struct.

The branch is here - right now it supports the "new fields with default values" use case you mentioned: https://github.com/alanctgardner/gogen-avro/tree/evolution

An example of how to use the new API is in this test case: https://github.com/alanctgardner/gogen-avro/blob/e

[2017-06-14 06:10] mremond commented on #31
Many thanks, @alanctgarner

This is great news. I will give it a try and share my feedback / tests.

Thanks again !

[2017-06-26 02:32] c0b opened #33 "release notes?"

[2017-06-26 02:37] #33 closed

[2017-07-12 03:31] catlittlechen commented on #31
@alanctgardner  I have read your codes on evolution branch. I think you can return the sturct and error when error is found. As a result, I can deal with the errors. When I find the error is EOF,  I can choose to ignore it, and get the struct. Balabalabla....

[2017-08-02 08:07] arienkock opened #34 "Conflicting definitions when they are identical"
My use case is that I have IDL protocols generating multiple avsc files which overlap (default behavior for `avro-tools-1.8.2.jar idl2schemata`). When registering definitions it would be nice if the contents was checked for equality to determine if it's ok to proceed or not. Right now, any definition with duplicate FQN or aliases will abort the processing.

Relevant parts:
https://github.com/alanc

[2017-09-15 12:46] asdine opened #36 "New release"
The latest release has been released on March and since then there have been some useful additions.
Using gogen-avro with Glide or Dep make us use the 4.0.2 by default while installing the compiler using `go get` installs the latest commit.
Unfortunately, the code doesn't compile because of differences on some signatures.
I think it would be way easier if you created a new release with possibly pr

[2017-09-29 01:12] alanctgardner commented on #36
I cut a v5.0 that should do a better job of not breaking - all the references should be to the gopkg.in version rather than Github master. Let me know if it works better for you.

[2017-09-29 09:04] asdine commented on #36
That's great ! Thank you !

[2017-09-29 09:04] #36 closed

[2017-10-25 12:31] panxh commented on #34
I have the same case, compile avsc files one by one will work out. however, my problem is gogen-avro will generate an identical file named "primitive.go" for every avsc file, thus the prev one will be replaced by  the later. Any idea?

[2017-10-31 01:45] alanctgardner commented on #34
@panxh @arienkock This issue should be fixed in master and in the new release 5.0.3, so you can now compile all your files at once without errors about the duplicate definitions. Thanks for your patience!

[2017-10-31 01:45] #34 closed

[2017-10-31 01:46] alanctgardner commented on #30
I'm cleaning up the repo, I'm going to close this due to lack of activity. Feel free to open new issues if you have any more feature requests!

[2017-10-31 01:46] #30 closed

[2017-10-31 01:50] alanctgardner commented on #16
Doing a bit of cleanup on this repo - I think the right solution is to add a private flag so structs can be generated as package-private. Then we could use that flag to clean up the container API. I've renamed the ticket and added some tags to clarify.

[2017-10-31 01:52] alanctgardner commented on #13
Doing a bit of cleanup, I added some tags and changed the title to clarify - we want to add support for generating a directory structure that aligns with the fully-qualified names of the Avro definitions.

[2018-03-16 10:08] jozef-slezak opened #40 "Option to disable UnionNull... struct code generation"
Hello, I would like to propose a tweak (a code generation option) that would simplify the amount of generated structures just by using pointers in following situations:
1. when a null and primitive type is used, for example ["null", "int"]
2. when a null and record is used ["null", { "type" : "record" ...

Above tweaks are explained by using following examples:

1. The first tweak can be explained

[2018-03-23 12:13] boompig opened #41 "Read OFC files?"
Hi, I'm new to Golang, so feel free to close if this is very obvious.

What's the canonical way to read multiple records from an OFC container file using this repo? If performing a naive read, you get an error (presumably because you're trying to read records where the OFC headers are).

[2018-03-29 21:11] tv42 opened #42 "Generated files are executable"
Go source files should not have execute access.

[code]

This is incorrect:
https://github.com/actgardner/gogen-avro/blob/263625dd5238e3094231add01a1ae927ecdfe63a/generator/file.go#L53

That's a bitmask you're passing in, you're trying to give all possible access to the file, only tamed by the umask. Pass in 0444 or something like that, instead.

[2018-04-07 08:10] JensRantil commented on #16
Why was reopened?

[2018-04-07 08:32] JensRantil opened #43 "Make `primitive.go` independent of *.avsc files"
I just had a package with a single file containing
[code]
When running `go generate`, `primitive.go` was overwritten by `//go:generate $GOPATH/bin/gogen-avro --containers . items.avsc` which lead to `writeUser(...)` and `readUser(...)` not being available. After some debugging I realized 1) that

[code]

doesn't work and 2) I had to do

[code]
.

Above said, I would have avoided having to debug th

[2018-04-11 17:21] JensRantil opened #44 "Go doc comments don't follow best-practise"
...of starting with `//`.

[2018-04-11 17:25] JensRantil opened #45 "container.Writer.Flush() writes empty blocks"
This is a problem for two reasons:

 1. They create unnecessary additional space. For thousands of Avro files this matters.
 2. Google BigQuery actually will fail with an EOF error if there are empty blocks in a file.

[2018-04-11 17:33] JensRantil commented on #41
If it was supported, there would have been coded in https://github.com/actgardner/gogen-avro/tree/master/container for reading containers. I can't find any such support.

[2018-04-17 14:03] JensRantil opened #47 "Generation is type ordering dependent"
Schema
[code]
yields
[code]
Since `type` really is a set, I expect `Accountnumber` to have the same type as `Name`, but they differ.

[2018-04-25 08:05] burdiyan commented on #31
Are there any news about that? What's the current state of it? What needs to be done to implement the feature?

Schema evolution is something that we really need for our project, and we don't want to use linkedin/goavro because of the lack of type safety, and we still want to generate code, but be able to read backward compatible Avro records.

If I'm not mistaken, Java code generation for Avro al

[2018-04-25 13:45] FrancoisWagner opened #48 "container.NewWriter should not accept empty compression codec"
For now, the container.Writer Factory Method doesn't return any error if one forgets to assign a value to the `codec` parameter. I would expect the method to return an error or assign the `Null` Codec instead. This `codec` parameter mistake/omission can be a bit difficult to troubleshoot, as it causes a `nil pointer` exception into the AvroRecord's `Serialize` method of the record being written.

[2018-04-26 01:26] actgardner commented on #41
HI, sorry for the slow reply! We don't currently have support for reading Object Container Files but it would be simple to implement. If you give me a few days I should be able to implement this.

Note that we don't support schema evolution right now, so this support would require that you provide a struct whose schema matches the schema of the OCF.

[2018-04-26 01:27] actgardner commented on #42
Thanks for raising this, this is a dumb mistake that I'll fix in the next couple days!

[2018-04-26 01:30] actgardner commented on #43
Sorry for the slow reply! Due to the structure of this project this would be kind of time-consuming to implement. I will add the work-around to the README so it's clear to new users that this is possible.

[2018-04-26 01:35] #45 closed

[2018-04-26 01:38] actgardner commented on #48
Thanks for reporting this! Defaulting to the null codec sounds reasonable. If you're interested in submitting a PR I'd be happy to merge it, or I can make this fix in a couple days.

[2018-04-26 02:07] actgardner commented on #47
The order of the types in the union impacts the serialization and deserialization of the field, so we need to track it somehow - those fields get written on the wire differently even though they seem to represent the same type. While I agree this is an implementation detail to end users, I don't have a better solution for how to track this data right now. I'm open to a PR that fixes this but remai

[2018-04-26 16:12] burdiyan commented on #31
@actgardner do you remember at which point your WIP implementation were left off? Any roadblocks, or some things to take into account?

[2018-05-01 00:28] #48 closed

[2018-05-01 01:05] actgardner commented on #42
This is fixed on master now, files are generated with 0440 permissions.

[2018-05-01 01:06] #42 closed

[2018-05-01 01:22] #44 closed, assigned to nobody

[2018-05-04 04:56] jozef-slezak commented on #40
Perfect, I will provide PR.

[2018-06-11 09:56] markfarnan commented on #13
Any update to this ?

I'm using GO to implement an open standard Websocket protocol from the oil Industry (Called ETP, by Energistics),  which uses a complex Avro Schema for datatypes and SubProtocols.    Without namespace support, there are type collisions in the Schema's.

I'd be happy to help implement this in the CodeGen,  but fairly new at Go, so not quite sure where to start in the CodeGener

[2018-07-06 04:06] simshi opened #51 "Error writing file xxx.go open xxx.go: permission denied"
run `gogen-avro avro/ schemas/*.avsc` error with permission denied, all file created as read-only (as expected)

[code]

so, maybe it's trying to write a file twice?

[2018-07-06 04:11] #51 closed

[2018-07-11 11:58] mremond commented on #31
Just for the record, when I tested the branch, it was working well for me. I think it was a relevant change.

[2018-07-11 13:47] actgardner commented on #31
Hey, sorry for the lack of updates. The issue with the old branch was mostly that it's bit-rotted now relative to master, so I think it's easier to start from scratch than to rebase.

I'll take another crack at it this week and see if I can get an up-to-date branch with a framework where someone could fill in some of the blanks.

[2018-08-14 16:58] fracasula opened #53 "Very long type names"
Hi everyone,

First of all thank you for your efforts and for writing this really nice library. I came across it the other day and decided to give it a try so that we could hopefully start using it in production at Foodchain.

So I tried to generate some code out of a schema that we wrote a while ago and I ended up with 2 files that have very long names. More than the file name what concerns me is

[2018-08-19 23:29] actgardner commented on #53
Hey @fracasula, this is an unfortunate side-effect of how we generate the structs for union types - the Union struct's name is a concatenation of all the types in the union. Since your Event record is a wrapper around many types in a union, the union name is very long (and will change and get longer if you add more event types).

I would be open to something like short union names based on `<conta

[2018-08-20 00:57] actgardner commented on #43
README is updated!

[2018-08-20 00:57] #43 closed

[2018-08-21 01:51] actgardner commented on #53
@fracasula I've added a flag on master and cut a release (5.1.0) with a new `--short-unions` flag. This will make the names of union types much shorter, but in some complicated namespaces it risks a collision (where two union types have the same name and different fields), so I'm leaving it off by default for now. Let me know if it fixes your problem!

[2018-08-22 18:46] uroshercog opened #56 "Missing package management"
Can you @actgardner please add something like `dep` to manage dependencies? Right now I'm not certain I have the same ones (I'm assuming this is the main reason most of my tests are failing).

`container_test.go:85: cannot create OCFReader: cannot read OCF header with invalid avro.schema: Record "event" field 1 ought to be valid Avro named type: unknown type name: "string.uuid"
`

[2018-09-07 16:34] FrancoisWagner opened #57 "Unable to install `gogen-avro` since `v5.1.0`"
It seems that import paths are broken in the new tag:

[code]

I see the following change between `5.0.1` and `5.1.0`:

https://github.com/actgardner/gogen-avro/blob/v5.0.1/gogen-avro/main.go#L11
https://github.com/actgardner/gogen-avro/blob/v5.1.0/gogen-avro/main.go#L11

Any chance a new tag would fix this?

Thanks!

[2018-09-20 11:14] javierholguera opened #60 "Does the library support logical types?"
As defined here: https://avro.apache.org/docs/1.8.2/spec.html#Logical+Types

Will they be ignored and serialize/deserialize as their underlying types (e.g. `timestamp-millis` as a `long`)? Will the same happen for the code generation part?

Thanks.

[2018-09-20 13:37] javierholguera commented on #31
@actgardner any news on this? We are planning to use your library with a similar use case (Kafka + Schema Registry) and having support for evolution is critical for us.

Thanks!

[2018-09-26 13:15] caevv opened #61 "Return interface on deserialization"
Deserialize should return `container.AvroRecord` so that the function can be passed around on a consumer.

[2018-09-27 14:44] FrancoisWagner commented on #57
Any news on this?

[2018-09-27 19:57] #57 closed

[2018-10-06 13:46] actgardner commented on #60
Hey @javierholguera, sorry for the slow reply! Logical types will be treated as their underlying type, there's no special logic to handle them but the records can be deserialized.

[2018-10-06 13:49] actgardner commented on #61
I'm not sure I understand the proposal - you want a generic AvroRecord that you have to downcast at runtime to be able to get the fields?

[2018-10-06 13:51] actgardner commented on #53
I'm going to go ahead and close this issue, feel free to reopen it if the new short names don't meet your needs.

[2018-10-06 13:51] #53 closed

[2018-10-09 07:53] FrancoisWagner opened #62 "New tag needed"
A new tag is needed in order to apply the fix https://github.com/actgardner/gogen-avro/pull/58

[2018-10-09 08:38] caevv commented on #61
The deserialiser is created like this for example:

[code]

[2018-10-18 14:16] caevv opened #63 "Evolution branch"
Is there a plan to merge evolution branch?
Would be good to support Schema Evolution to have writer and reader Schema on deserialisation.

[2018-10-25 18:45] palmerabollo opened #64 "question: using gogen-avro with schemas that contain a map"
I'm wondering whether gogen-avro supports Avro schemas with type `"map"`

[code]

When I run `gogen-avro` I get the following error:

I've also tried removing the namespace with a similar result:

I think that https://github.com/actgardner/gogen-avro/issues/27 added support for maps but perhaps I'm missing something. Is "map" supported?

[2018-10-25 21:10] palmerabollo commented on #64
I've just noticed the map must be defined this way:

[code]

[2018-10-25 21:10] #64 closed

[2018-10-29 21:21] johndww commented on #31
@actgardner I'm also looking at using this library and have a similar use case. The producer will be upgrading it's schema at a slightly different time from the consumers which means there is a period of time where the old schema must be read on the consumer.

[2018-11-07 09:36] artheus opened #66 "Allow globbing the spec files"
There seems to be no support for writing glob-patterns like `*.avsc` or `**/*.avsc` when writing the line. Allowing globbing would be a great feature for this code generator.

[2018-11-07 13:30] actgardner commented on #66
Usually I would consider this a concern for the shell - if you run this in bash you can use those globs, because bash should expand them. I haven't thought through all the use cases, is there a scenario where you can't use the shell's built-in support for globbing?

[2018-11-07 13:33] actgardner commented on #63
The evolution branch is fairly far behind and is missing a lot of features, at this point I think we would need to start from scratch.

I'm looking for somebody to help maintain this project and possibly drive development of schema evolution support. I don't have the time to add a big feature for the foreseeable future.

[2018-11-07 13:34] actgardner commented on #60
The code generated will be for the underlying type (it'll be an int64 for a timestamp). There's no support for logical types right now. I'd be happy to consider a PR to add support for automatically converting logical types in the generated code.

[2018-11-07 13:36] javierholguera commented on #60
Thanks for clarifying. I'm not involved with the project that required this anymore, so I'm happy to close the issue.

[2018-11-07 13:36] #60 closed

[2018-11-07 13:37] caevv commented on #61
Bit off-topic, but would be because there is no generator for linkedin
goavro expected native (from and to `map[string]interface{}`).

On Wed, 7 Nov 2018 at 13:28, A Gardner <notifications@github.com> wrote:

[2018-11-07 13:40] actgardner commented on #13
Hi @markfarnan! Sorry for the very slow reply.

I think you've identified those issues correctly - you'd probably need to accept a user-provided package name (like `github.com/actgardner/mypackage/avro`), so you know the absolute import path for all the generated code. Then you'd need to write the source files into the correct paths, which should be fairly simple. Finally you'd need to support ref

[2018-11-07 13:42] actgardner commented on #61
Sorry, to be clear linkedin/goavro is a totally separate implementation with different goals. I don't expect you to use both, I'm saying goavro is a better fit for your use case.

[2018-11-07 16:15] artheus commented on #66
I am tried to use globbing with the commant directives. That gave me errors.
I will try more and comment with the result in this issue.

On Wed, 7 Nov 2018, 14:30 A Gardner, <notifications@github.com> wrote:

[2018-11-08 09:07] boguslaw-wojcik opened #67 "Support AVSC "doc" attribute as a struct/field comment."
This is an eye-candy, but should not be too hard to implement. I personally would welcome support for AVRO schema "doc" attribute resulting in a comment directly before the record-related struct definition and field if provided.

Following AVSC...

[code]

...could produce following struct definition...

[code]

[2018-11-08 13:00] actgardner commented on #62
Hey Francois! I'm sorry this was broken for so long, I think it should be fixed in the v5.2 tag now.

Since I started working on this project I also found out about https://github.com/twitchtv/retool, which might be helpful? Retool + vendoring should support any SHA from this repo.

[2018-11-11 01:45] actgardner commented on #56
I think we figured out this issue didn't have to do with dependencies, but I went ahead and added a dep file to the repo as well.

[2018-11-11 01:45] #56 closed

[2018-11-11 20:44] actgardner commented on #41
Hey @boompig, I know this issue is pretty stale but I finally found the time to add some experimental OCF reading support. You can create a `container.Reader` that wraps your `io.Reader` and unpacks the container format. You should be able to just pass the `container.Reader` to the generated deserializer and it will work _as long as the writer schema is exactly the same as the reader schema_. Evol

[2019-01-07 13:08] FrancoisWagner commented on #62
Thanks! I will have a look to `retool` as well.

[2019-01-07 13:08] #62 closed

[2019-01-09 01:13] tsutsu opened #69 "Type name references get converted to copies of type definition in generated schema"
For example, if I have one field in my schema that looks like this:

[code]

...and then another field, later on in the schema, that looks like this:

[code]

...then the schema string-literal which `gogen-avro` emits as the body of the `Schema()` method for this record type, should look pretty much the same. The first occurrence of the `sha256` type should be a fully-expanded definition, and then

[2019-01-29 11:05] caevv commented on #31
+1

[2019-02-06 15:27] tzachshabtay commented on #40
@jozef-slezak are you working on this?
This will be very useful for us.
Thanks.

[2019-02-08 22:23] sachnk commented on #13
Anyone manage to get a version working where avro namespaces match go packages?

[2019-02-08 22:30] actgardner commented on #13
Hi! Unfortunately I have limited time to work on this project and I've been focused on a new release with support for schema evolution.

I'm happy to accept backwards-compatible PRs that introduce namespaces and work with their authors to get them merged.

[2019-02-12 16:35] actgardner commented on #69
Thanks for filing this issue! I'll take a look, we definitely want to make sure the OCF ouptut files are compliant with the Avro spec.

[2019-02-12 17:08] actgardner commented on #69
I've confirmed that a bug existed in the 5.0 release line and master where `fixed` and `enum` type definitions were repeated for every field. This issue should be fixed on master and in the 5.2.3 release on gopkg.in, and it doesn't affect 4.0 or earlier.

I'm going to close this issue as fixed, please feel free to open a new issue if the problem is still happening or you run into anything else!

[2019-02-12 17:08] #69 closed

[2019-02-16 22:00] actgardner commented on #63
@caevv If you're still interested in evolution support, I have a new branch which is a beta for gogen-avro v6. It includes OCF deserializers and schema evolution: https://github.com/actgardner/gogen-avro/tree/gadgt

[2019-02-16 22:00] actgardner commented on #61
I'm going to close this issue, if you have further questions feel free to open a new one!

[2019-02-16 22:00] #61 closed

[2019-02-16 22:02] actgardner commented on #41
@boompig If you're still interested, I have a new branch which is a beta for v6.0. It includes simpler OCF file reading and schema evolution: https://github.com/actgardner/gogen-avro/tree/gadgt

I'm going to close this issue, if you have any problems with the branch feel free to open a new issue!

[2019-02-16 22:02] #41 closed

[2019-02-16 22:02] actgardner commented on #31
Hi! I know it's been a while, I have a beta branch which now supports schema evolution: https://github.com/actgardner/gogen-avro/tree/gadgt

Please try it out and let me know if there any issues or deviations from the spec. Thanks!

[2019-02-16 22:02] #31 closed

[2019-02-16 22:06] #63 closed

[2019-02-27 01:48] rocurley opened #76 "Allow adding tags to struct fields"
As of #67, it's possible to add comments to the generated structs. AFAICT, however, it's impossible to add tags. This makes it tricky to use libraries that depend on tags, such as [validator](https://godoc.org/gopkg.in/go-playground/validator.v9). Please consider adding a way to add tags to struct fields, such as:
[code]
... generates ...
[code]

[2019-03-06 11:53] jeroenrinzema commented on #76
I am facing a similar issue where we have to share AVRO schemas across different services in our system.

I would like to use this feature to mark field that hold sensitive information (GDPR).

[code]

This way we could define which field need special care, for example to be encrypted.
About the AVRO schema attribute name I do not think that `go_tags` is a good attribute, since it is bound to the

[2019-03-10 19:41] maarek commented on #76
I'll piggyback this issue until deemed to open a new one, but what about extending tags to first auto-generate json marshalling tags on the structs? This would be useful for using the Avro struct with say the kafka rest proxy which expect the kafka input as json along with the schema.

[2019-03-10 21:51] actgardner commented on #76
Sorry for the slow replies. Thanks @jeroenrinzema for the PR to add custom tags!

I think a separate issue would make sense to automatically add JSON annotations? I'm open to a  PR on master or the GADGT branch to add it, otherwise I might have time in April to take a look.

[2019-03-11 08:33] jeroenrinzema commented on #76
I could modify the PR and include automatic JSON annotations. Should we allow different naming for fields? for ex:

[code]

[2019-03-11 11:25] actgardner commented on #76
I think in order to conform to the Avro spec, the JSON field names have to be the exact Avro field names - even if they aren't snake-case that would be conventional in Avro.

[2019-03-12 16:26] maarek commented on #76
@jeroenrinzema What is the convention for the addition of tags in the schema? "go_tags" "GoTags" "goTags"? Avro is fairly loose on their naming convention and each individual defined it as long as it falls within [A-Za-z_] pattern.

Could we pare this down to 1 word to remove ambiguity or handle all variations?

[2019-03-12 16:48] actgardner commented on #76
I'm open to just calling it `tags` with the knowledge that it might conflict in the future

[2019-03-12 22:13] rocurley commented on #76
I'd weakly advocate for calling it something go-specific: it seems pretty unlikely that your go tags (like `validate` in my original example) will actually be relevant outside the context of go.

[2019-03-13 08:59] jeroenrinzema commented on #76
@maarek when writing the proposal did I want to let the name clearly state that the attribute is `go` specific, but agree that we could simplify it. I found a [discussion from 2016](http://apache-avro.679487.n3.nabble.com/custom-attributes-td4033790.html) about the use of custom attributes and think that we could safely name it: `tags`.

[2019-03-13 13:30] actgardner commented on #76
The only counter-example I could find is the Java-specific `avro.java.string` being added to the type itself:
https://stackoverflow.com/questions/25118727/how-to-generate-fields-of-type-string-instead-of-charsequence-using-avro

Given that limited example I think it's fine to say `tags` or `avro.golang.tags` if we want to make it more explicitly language-specific.

[2019-03-14 20:55] jeroenrinzema commented on #76
I like the use of `avro.golang.tags` but could we maybe shorten it to `golang.tags`?

[2019-03-15 18:25] nichochar commented on #40
+1 This seems like a really nice quality of life feature

[2019-03-18 18:53] jeroenrinzema commented on #76
I have updated my PR, please take a look

[2019-03-19 09:42] jeroenrinzema commented on #16
@actgardner maybe a property like `golang.private` could work? As we did in #77?

[2019-03-19 09:48] jeroenrinzema opened #78 "Refactoring various components"
I noticed while going through some packages that i received a lot of `go-lint` warnings. I am wondering if you are open for a PR that resolves these linting warnings/errors. I have included below some of the linting errors that I found.

[code]

[code]

[code]

While working on #77 did I also notice that many strings are hard defined inside methods. I want to propose to make constants out of them

[2019-03-19 21:53] actgardner commented on #78
Hey @jeroenrinzema! I think adding go-lint to the CI and fixing some naming conventions would be fine, I want to do a few things first:

- add support for JSON tags on the generated structs automatically
- cut a new release with all the new tag support
- merge the gadgt branch (which includes a big refactor)

Once those changes have landed on master then I think it's a good time to do some code qu

[2019-03-19 21:55] actgardner commented on #76
This feature is now on master, is anyone interested in pursuing JSON tags? I would like to merge the gadgt branch this month and make a new major release, but I'd like to get all the tag changes into a minor release first.

[2019-03-19 21:57] jeroenrinzema commented on #76
I could pick this up, it would also include refactoring a little bit #77

[2019-03-19 21:58] actgardner commented on #76
Yeah I don't mind holding off on a release until both changes (custom tags and automatic JSON tags) are ready to go, if you're interested.

[2019-03-19 23:47] maarek opened #79 "Add support for JSON tags on the generated structs automatically"
Provide support for generating struct tags for json parsing according to the AvroSchema Sepcification.

Use case: Marshaling Avro Schemas to Json responses from Rest API. Useful when publishing Avro records to Confluent Rest Proxy which takes an Avro Schema + Json Records.

Example of a Json tagged struct:
[code]

By default json:name should be the original name defined in the schema.

Optional:
A

[2019-03-19 23:48] maarek commented on #79
#76 #77

[2019-03-20 07:59] jeroenrinzema commented on #76
Let's continue the discussion in #79

[2019-03-20 10:15] jeroenrinzema commented on #79
I would like to propose a couple of new properties to support the golang json tag functionalities:

[code]

[2019-03-20 15:18] maarek commented on #79
This sounds reasonable to me. 👍

[2019-03-21 01:55] maarek commented on #79
@jeroenrinzema When I was playing with Avro IDL today, I noticed that the dot notation is not accepted in the IDL. I am not using extra tags currently but we do do a lot of avdl -> avsc conversions that would fail with the dot notation over underscore  or camel case.

[2019-03-21 08:06] jeroenrinzema commented on #79
@maarek thanks for reporting. As far as I can see do we have the following options remaining for the property names:

[code]

I like to use underscores but would like to know what others think.

[2019-03-21 10:29] codeyrk commented on #79
I would like to propose the addition of MarshalJSON([]byte, error) wherever applicable which will use the above requested JSON field names from the schema.
I found Enumerations are returned as numbers instead of their string representations.

[2019-03-21 14:47] maarek commented on #79
@codeyrk Sorry I am not sure I understand the impacts of this. Are you saying to to provide a means to marshal so that enumerations can be custom transformed to their string representation? My only worry would be tightly coupling the generated code to one single json library. Is there any other way to provide handling of these cases like enumerations?

[2019-03-21 14:51] maarek commented on #79
@jeroenrinzema Hyphens are not allowed either so I'd say move back to underscore or camel case. I'll leave it up to you. My standard convention is something like @semVer but I don't want to get stuck bikeshedding on this, just make sure we're in spec. 👍

[2019-03-27 23:34] y0ssar1an opened #80 "Replace gopkg.in and dep with Go Modules"
`gopkg.in` is the old way of locking versions of packages, in the Dark Ages before we had proper dependency management in Go. Even using just `dep` would be an improvement over `gopkg.in`.
Hosting the project under two domains -- `gopkg.in` and `github.com`  -- adds unnecessary confusion and complexity to anybody trying to use `gogen-avro`. I ran into this while trying to use `gogen-avro` using mo

[2019-03-29 15:12] codeyrk commented on #79
@maarek Maybe I am not able to understand your concern. Let me reframe the proposal:
- Configurable support to add MarshalJSON([]byte, error) during code generation. MarshalJSON is called by the standard library "encoding/json" on all the fields, as per [Marshal documentation](https://golang.org/pkg/encoding/json/#Marshal).
Many other libraries are calling this function internally to convert nativ

[2019-03-29 15:26] jeroenrinzema commented on #79
I think it would be worth it exploring the plausibilities including a `MarshalJSON` method to  enumerations.

[2019-03-29 15:27] jeroenrinzema commented on #79
@codeyrk could you please open a separate issue for this topic? We could discuss it further over there.

[2019-03-29 15:31] codeyrk opened #82 "Support for standard library MarshalJson([]byte, error) for structure fields"
From #79

- Configurable support to add MarshalJSON([]byte, error) during code generation. MarshalJSON is called by the standard library "encoding/json" on all the fields, as per Marshal documentation.
Many other libraries are calling this function internally to convert native struct to JSON.

- Enumerations which are currently returned as numbers instead of string representations can be resolved

[2019-03-29 21:41] jeroenrinzema commented on #82
@actgardner what is your thought on this?

[2019-03-31 01:56] actgardner commented on #76
Because of the ongoing discussion of how we want to handle JSON encoding (tags versus fulfilling the interface), I've cut the v5.3.0 release on gopkg.in with support for custom tags but not automatic JSON serializing.

We can continue the discussion of how to handle JSON after I get GADGT merged to master.

[2019-03-31 01:56] #76 closed

[2019-03-31 02:11] actgardner commented on #80
This project has been around for a few years, and it's gone through a few iterations of package management and versioning to try and meet user's needs. Since I'm the only maintainer, I don't always have bandwidth to adopt the latest-and-greatest language features. The current system with gopkg.in is definitely cumbersome, and the value it provided to help users version their toolchains (and not ju

[2019-03-31 02:15] actgardner commented on #79
To me the approach in #82 of fulfilling the `Marshaller` interface _seems_ preferable because of support for enumerations, but also for unions. I think trying to drive JSON serialization using tags is going to result in a lot of edge cases leaking gogen-avro-specific hacks into the structure of the JSON, which will make it hard to line up with how other languages handle JSON-Avro mappings.

[2019-03-31 02:20] actgardner commented on #82
I commented on #79 but I like this proposal, with the additional caveat that besides enumerations it'll also need to handle unions. I don't have a timeline on when I could implement this but I would be open to PRs, and I'll look at it after GADGT and code cleanup/dependency management for 6.0.

[2019-03-31 02:21] actgardner commented on #66
Hey! I hope this ended up working for you. I'm going to keep this issue open, if anyone is interested in PRing a patch to add support for filename globbing I would be open to that.

[2019-03-31 08:52] tormoder commented on #80
I'm not using `container` , but I'm locking the version of the generator in my project by using the technique described here: https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module.

If I remember correctly, I had to use a "pseudo version" (https://tip.golang.org/cmd/go/#hdr-Pseudo_versions), i.e. a specific commit, to avoid `gopkg.in` imports.

`go get github.com

[2019-03-31 11:03] jeroenrinzema commented on #79
I think we could postpone the release of automatic JSON tags generation until we have covered all/most of the edge cases. I also think that it would be best to refactor parts of this package before implementing full JSON support. I will open a PR once you have released `v6`.

[2019-03-31 14:50] actgardner commented on #78
I've got the GADGT stuff in, if you have time now would be a good time to fix up go-lint violations and add it to CI.

[2019-03-31 17:59] jeroenrinzema commented on #78
Great! I will take a look at it tomorrow. I will probably create a PR somewhere next week.

[2019-03-31 20:59] y0ssar1an commented on #80
I have a lot of experience with converting projects over to modules, so I'm happy to submit a PR. I've already got a working fork. However, I found that to truly stamp out `gopkg.in`, [I first need to remove it from `linkedin/goavro`](https://github.com/linkedin/goavro/pull/154). If that PR is accepted, I'll update my fork and submit the PR.

[2019-04-02 11:54] actgardner commented on #80
Is there a particular reason we need to convert goavro, which is only a dependency for our integration tests, in order to adopt modules in this repo?

[2019-04-02 19:35] jeroenrinzema commented on #78
I was looking through the project and noticed that there are many branches and was wondering how many are still active? Maybe it is also a good idea to go through and clean up some branches?

[2019-04-04 01:48] wfscheper commented on #80
@actgardner, I filed this issue linkedin/goavro#149 that describes the go modules issues with goavro. Bottom line, the v2 gopkg.in import path for goavro is broken for go modules.

[2019-04-08 01:07] actgardner commented on #66
@artheus I added globbing support on master and it will be included in the 6.0 release as well.

[2019-04-08 01:07] #66 closed

[2019-04-11 22:48] nickretallack opened #84 "Suppress "SOURCES" comment?"
When I generate code it adds a comment to every file listing the "SOURCES".  So, every time I add a new file, all existing files are affected.  This creates conflicts when collaborating via git.  Could we omit this comment?

[2019-04-20 15:20] tzachshabtay commented on #34
@actgardner this doesn't seem to work for enums in a different file but same namespace.

To reproduce:

file1.idl:
[code]

file2.idl
[code]

For this scenario, IDL generates two avsc files, in the type.avsc file there's a "namespace: myname" attribute associated with type, but in the myrecord.avsc file there's no namespace attribute associated with type, so the `deepequal` check you added returns

[2019-04-23 10:59] MrDHat opened #86 "Supporting confluent compliant schema registry"
We use schema registry to maintain our schemas & versions. It would be great to have an integration with the same.

This is what I propose the solution should look like:
* Generator to accept 2 new arguments:
    * Schema Registry URL
    * Schema subject name in the registry
    * Schema version
* Generated code should talk to the schema registry instead of using the schema text in the code to ge

[2019-05-04 04:16] actgardner commented on #86
Hi @MrDHat! This seems like a very useful change, I would make a few comments:

If I understand it right, the goal here is to generate a new struct for a schema you get from the schema registry (instead of reading it from a .avsc file)? That seems fine as an extra, optional set of arguments for the struct-generating code. We should include the schema subject and version into the generated code as

[2019-05-04 04:17] actgardner commented on #84
This is a good point, I think it makes sense to eliminate this comment.

[2019-05-23 13:06] karol-kokoszka opened #89 "Nested maps are not supported"
Seems that because of small bug, it's not possible to generate code for schema with nested map.
I made a fix already with tests, but as no permission for pushing to this repo, it's available here https://github.com/karol-kokoszka/gogen-avro/commit/d84f713550b14e436f86a5b5e84515cf930cb483

[2019-05-26 07:19] kishaningithub commented on #89
@karol-kokoszka You can always raise a pull request in github.

[2019-05-31 10:44] actgardner commented on #89
Hi @karol-kokoszka! Thanks for the heads up, that fix looks good - can you make a pull request to this repo so I can merge it?

[2019-05-31 10:59] karol-kokoszka commented on #89
@actgardner done

[2019-05-31 11:17] #89 closed

[2019-06-10 10:52] theUm opened #92 "New tag for master"
As I see that there is lots of new features and approaches in latest master. It would be cool if there where tag with this changes

[2019-06-11 11:25] oleksmir commented on #92
The branch (gadgt) which supports schema evolution was already merged. It would be nice to tag new version to start using new feature instead of using direct hash to the latest version.

[2019-06-12 02:06] actgardner commented on #92
I've tagged the current head of master as `v6.0.0`. I'm not going to continue supporting `gopkg.in` so you'll need to use dep or modules to version the imported package, plus possibly something like retool to manage the version used to compile your schemas. Let me know how this works for you.

[2019-06-12 04:40] oleksmir opened #93 "Default value is not supported for schema evolution"
I am trying deserializing old messages using new schema, but default values seems not working.
Old schema:
[code]
[code]
New schema:
[code]
[code]
Test:
[code]
Test result:
[code]
NewUser (with new schema) is created inside DeserializeUser function, that is why missed field receive default golang values instead of default schema values:
[code]

[2019-06-12 07:28] theUm commented on #92
Thank you, I'm already using `dep` for now. And thank you for pointing out `retool`, it something I've unknowingly needed :)

[2019-06-12 07:28] #92 closed

[2019-06-13 19:05] oleksmir commented on #93
Related issue in goavro package https://github.com/linkedin/goavro/issues/166 with thoughts why schema evolution is broken in Avro 1.x.

[2019-06-16 02:00] actgardner commented on #93
This isn't related to karrick's discussion of Aveo being an untagged format, it seems like a VM bug. I'll take a look in the next few days, thanks for reporting it.

[2019-06-17 05:23] andrewarrow opened #94 "avdl vs avsc files and Golang"
Seems most Golang Avro uses JSON not the avdl format. Looking around I found:

https://github.com/apache/avro/blob/8026c8ffe4ef67ab419dba73910636bf2c1a691c/lang/java/tools/src/main/java/org/apache/avro/tool/IdlToSchemataTool.java

As the java implementation to parse a avdl file. And I seem them in PHP and few other languages but not Golang. Not in this package or https://github.com/linkedin/goavro

[2019-06-18 02:58] actgardner commented on #94
Hey @andrewarrow, AVDL is an Interface Description Language - it's for RPCs and not just serializing data. gogen-avro doesn't currently support any RPC functionality, although I'm not against adding some or all of the AVDL spec:

- generating records from AVDL syntax is a starting point
- method stubs for callers
- a server implementation

But if you want to PR just the first one it's a worthwhile

[2019-06-18 03:17] actgardner commented on #93
Hey oleksmir, so it turns out this kind of related to Karrick's post after all. Because you're dealing with raw records and not container files, you need to provide the writer schema when deserializing data. This code works as intended:

[code]

[2019-06-18 04:43] andrewarrow commented on #94
makes sense! I see, thank you. I started:

https://github.com/andrewarrow/avdl_to_golang

[2019-06-18 11:06] oleksmir commented on #93
Cool. It works and default values are set properly. Now I found that unions are not handled.
Old schema:
[code]
New schema:
[code]
After deserializing (using method from previous comment) the newUser structure will have nil on unionField place instead of having pointer to UnionNullString. It would be nice if somewhere default union structure would be created.

[2019-06-20 03:07] actgardner commented on #93
@oleksmir this time it was a bug in the generated code which wasn't setting the defaults for union fields correctly. I've corrected it in the head of master and added a test, let me know if it's resolved for you.

[2019-06-20 03:12] actgardner commented on #47
I'm going to close this, it's unlikely to change - I was just working on the code to set default values for union fields and the semantics of defaults for Avro unions (default must be the first type) means the different orders actually matter for the generated code. I'm still open to a PR that can handle this while remaining compliant with the spec (there's integration tests for union defaults in

[2019-06-20 03:12] #47 closed

[2019-06-24 07:23] oleksmir commented on #93
@actgardner addition of new union field works as expected no matter in which part of record it is added. I found another case where it does not work.
Old schema:
[code]
I removed `unionField1` and added `unionField2`. Evolved schema:
[code]
The test I run:
[code]
The error I get:
[code]
Even If I use `{null, string}` for `unionField2` error will be the same. Moreover it occurs when I remove union

[2019-06-25 10:47] proishan11 opened #95 "Deserialization failed"
Message received from kafka and I am getting an error during Deserialization-

`"Deserialization failed..." error="Runtime error: Unsupported type for union, frame: {false 0 56 0 0 []  false}, pc: 0xc420013bd0"`

[2019-07-03 17:52] tzachshabtay commented on #95
Looking at the code, here:

https://github.com/actgardner/gogen-avro/blob/8ba4989fcf94bdb24f2654b27224b90c7ae328b1/compiler/method.go#L286

This error seems to always be added when compiling a union, no matter what. Is that intended?

@actgardner

[2019-07-03 18:05] actgardner commented on #95
The compiler is responsible for generating byte code - it generates an error number but that doesn't mean the compiler is raising this error.

Can you post the reader and writer schemas and the data you're trying to deserialize so I can reproduce this issue?

[2019-07-03 18:51] tzachshabtay commented on #95
Ah ok, I'm not experiencing the runtime error as the OP, I'm trying to debug some other deserialization issue, so I have enabled logging and saw this error showing up multiple times.. so I guess I can just ignore it, it doesn't mean anything if it's logged without actually being returned as an error?

[2019-07-03 18:54] actgardner commented on #95
Same ask, can you provide the reader and writer schemas and the compiler debug output logs?

The debug logs from the compiler will include a line about adding the union error to the error table for the deserializer. That's totally harmless debug output. If you get an error like OP with a `PC` and `frame` that's a runtime error.

[2019-07-08 14:03] tzachshabtay opened #96 "Schema evolution- support field aliases"
Looking at the code, I can see that aliases should be supported for record, enum and fixed, but I don't see anything for the other primitives.

To be more concrete, if I have in my old schema (idl):

[code]

And in my new schema:
[code]

Feeding an old record (with the old writer's schema) to the new reader returns an error:

[code]

I expected it to map the old field name to the new field name du

[2019-07-10 11:05] invasionofsmallcubes opened #97 "How should I check for null values?"
Hello,
how am I supposed to check for null values?

I have a `UnionDoubleNull` type but this doesn't work:

[code]
it's always null even when value is not null.

[2019-07-13 17:29] actgardner commented on #97
The `Type Conversion` section in the README talks about how unions are converted to Go types: https://github.com/actgardner/gogen-avro#type-conversion

If your field is a `UnionDoubleNull`, the `UnionType` field will be `UnionDoubleNullTypeEnumNull` if the field is a null or `UnionDoubleNullTypeEnumDouble` if the field is a double. So your code should look like:

[code]

There's an open issue to e

[2019-07-13 18:11] actgardner commented on #93
Hey @oleksmir, I finally found some time to work on this. The following cases now work correctly and have regression tests:

- when the writer is a non-union type and the reader is a union type
- when the writer is a union type and the reader is a non-union type
- when the writer is a union type and the reader does not have a corresponding field

Can you try the current master out and let me know

[2019-07-13 18:13] actgardner commented on #95
@tzachshabtay @proishan11 The current master has a few fixes for schema evolution when there are unions involved which may solve your problem. If you get errors in the future feel free to open a new issue including your reader and writer schemas (or reasonable copies without sensitive data) and the debug logs from the compiler. Thanks!

[2019-07-13 18:13] #95 closed

[2019-07-13 18:16] actgardner commented on #96
You're correct, we currently don't have support for aliased fields, only aliased complex types. This is an oversight and I'll try and put out a patch shortly to resolve it. Thanks for reporting this!

[2019-07-13 22:48] actgardner commented on #96
There's a fix merged to master now, can you confirm it resolves your issue? Then I can tag a new release.

[2019-07-14 20:41] invasionofsmallcubes commented on #97
I see. Thank you for the answer.
I have to say, after having read it again, I have to say without having the context of your answer, is not completely clear, probably you could add the example you just posted here.

I you want I'm happy to open a PR to add it to the `README.md`

[2019-07-16 20:21] tzachshabtay commented on #96
I can confirm, it's working now, thanks :)

[2019-07-18 02:07] actgardner commented on #97
For sure, if you PR a concrete example in the README (or the examples folder) I think that would be valuable.

[2019-07-18 02:10] actgardner commented on #93
I've tagged release 6.1 with these fixes, feel free to open a new issue if you have more problems with schema evolution!

[2019-07-18 02:10] #93 closed

[2019-07-18 02:11] actgardner commented on #96
I've tagged version 6.1 with these fixes, thanks again!

[2019-07-18 02:11] #96 closed

[2019-07-20 07:41] proishan11 commented on #95
@actgardner I tried the current master but it is still failing.
Schema used for generation -

[code]

Serialization logic -

[code]

[code]

[2019-07-20 15:44] actgardner commented on #95
@proishan11 What's the error you're getting? That code isn't a self-contained example, I can't run it to reproduce the issue.

[2019-07-25 19:15] proishan11 commented on #95
@actgardner `"Deserialization failed..." error="Runtime error: Unsupported type for union, frame: {false 0 56 0 0 [] false}, pc: 0xc420013bd0"`. This is the error I am getting. I have made a simple hello-world application to show how I am serealizing and deserealizing. Take a look - [https://github.com/proishan11/kafka-hello-world](https://github.com/proishan11/kafka-hello-world). Thanks!

[2019-07-25 19:28] actgardner commented on #95
Unless I'm misunderstanding, your writer writes: `<record bytes><schema ID>`, but your reader expects `<schema ID> <record bytes>`.

You should change `writer.go` line 36 to `out := append(dataBytes, output.Bytes()...)`

https://github.com/proishan11/kafka-hello-world/blob/master/writer/writer.go#L36
https://github.com/proishan11/kafka-hello-world/blob/master/reader/reader.go#L25

[2019-07-26 19:25] invasionofsmallcubes commented on #97
Ok, will do.

[2019-07-26 19:25] #97 closed

[2019-07-31 04:56] oleksmir commented on #93
@actgardner Sorry for long delay. Seem to be working now. Thank you a lot.

[2019-08-02 11:09] anishkargaonkar commented on #95
@proishan11 Try changing the [L34 - L36](https://github.com/proishan11/kafka-hello-world/blob/b0b971a5d8196ae383fc4ae6b4d65c7d22b273a0/writer/writer.go#L34) as follows:
[code]
It looks like `one extra empty byte` is needed while appending `dataBytes` & `output.Bytes()` to properly deserialize the message .i.e. [`dataBytes` `0` `output.Bytes()`]

[2019-08-26 13:43] homiak opened #99 "Generated code does not pass go vet checks (unreachable code error)"
Below is an example of generated code
[code]
The break statement is unreachable because of the return above. It should not be there.

[2019-08-26 13:51] homiak commented on #99
duplicated of https://github.com/actgardner/gogen-avro/commit/0b6e4708d46d99b68988ecfd91436d8d1e4e801f
could you please release the patch asap?
Thank you

[2019-08-26 13:51] #99 closed

[2019-09-09 13:11] homiak opened #100 "UnionNullMapArrayString/MapArrayString keys and values left un-initialized by deserializer"
Deserialize does not appear to be using the NewMapArrayString constructor

[code]

(which initializes keys and values to empty arrays)
when deserializing the values. This leads to the difference between serialized and deserialized values. This is hugely annoying in tests, when you cannot use reflect.deepEquals() because keys and values would be nil vs empty array.

[2019-09-15 20:04] zimbabao opened #101 "Fixed type with defaults generate incorrect code."
Field in a record
[code]
Ganerates type

[code]

But the generated is
```r.ID = []byte("\x00\x00\x00\x00\x00\x00\x00\x00")```
Where type of `r.ID` is `Unsignedlong`.

Go compiler fails to compile this.

[2019-09-15 21:30] zimbabao commented on #100
After populating Map call `Finalize()` on map and then serialize the map.
IIUC That should solve the problem.

[2019-09-16 10:35] homiak commented on #100
Thanks for the suggestion @zimbabao!

[2019-09-21 13:22] actgardner commented on #101
Thanks for reporting this @zimbabao! This should be resolved on master now, and I'll tag a new release this weekend with the fix. If the issue isn't resolved or you run into anything else feel free to open a new issue.

[2019-09-21 13:22] #101 closed

[2019-10-09 19:59] MrJoy opened #104 "Provide a mechanism to convert from string to enum."
For enums, there's a generated `String()` method to convert an instance of the enum to the human-friendly string, but there's no analogous mechanism to go the other way.  The end result is that if I'm synthesizing a record to serialize to Avro from an external data source, I have to handle the mapping myself.  Not hard, but it _is_ brittle.  Can we get a generated method that wraps up the relevant

[2019-10-14 18:17] divo77 opened #105 "Example of using an Avro big.Rat as a value to produce the Avro Decimal"
HI, It would be super cool if you give some examples of working properly for serialization/deserialization the Logical data types with gogen avro structs. I am in stack with the situation where I need to read the bytes from Avro Native like:

var codecDecimal, err= goavro.NewCodec({"type": ["null", {"type": "bytes", "logicalType": "decimal", "precision": 6, "scale": 4}]})
bytesDecimalBinary, err :

[2019-10-18 16:03] divo77 commented on #105
Let's simplify the question. Does gogen-avro support a Avro Logical datatypes as goavro does it OR it doesn't ?

[2019-11-05 16:01] divo77 commented on #105
could you answer the question ?

[2019-11-20 18:44] actgardner commented on #105
There's currently no support for logical types. You're able to work with these fields as a primitive type (bytes) but you would need to write logic to handle the decimal encoding. I would welcome a PR that added this functionality.

[2019-11-20 18:44] actgardner commented on #104
Sorry for the slow response! This sounds like a useful feature, I can try and work on it this weekend. Otherwise I would also welcome a PR that added this functionality.

[2019-11-20 20:35] MrJoy commented on #104
@actgardner I'll take a look, but I suspect it'll take me longer to wrap my head around the data model and Go code generation stuff that I won't be able to get a PR in before this weekend.  If you don't see a PR from me by Friday, probably best to try and tackle it yourself -- time permitting, of course.

[2019-11-20 22:35] MrJoy commented on #104
Ok, PR provided.  https://github.com/actgardner/gogen-avro/pull/108

[2019-11-21 00:46] actgardner commented on #104
Thanks for the PR, merged #108

[2019-11-21 00:46] #104 closed

[2019-11-29 11:23] rogpeppe opened #109 "generated code is out of sync"
I ran the following commands:

    git clone git@github.com:actgardner/gogen-avro
    cd gogen-avro
    go install ./gogen-avro
    go generate ./...

The generated code in `container/avro` changes a lot and won't compile (it ends up with a circular import loop):

[code]

[2019-12-01 02:09] actgardner commented on #109
Sorry, yeah I removed the flag for generating container code so all structs get container-writing methods by default. Consequently the generated code in the container package .... depends on the container package. I'll fix this up and do a patch release.

[2019-12-01 02:54] actgardner commented on #109
v6.3.1 is out now, this re-adds the container flag and commits newly-generated versions of the `container/avro` files generated with the current release.

[2019-12-01 02:54] #109 closed

[2019-12-02 16:22] josephglanville opened #110 "Logical types"
Implementing logical types that provide automatic serialisation and deserialisation of higher level types into/from Avro primitive types is a highly deserable feature and is implemented by https://github.com/linkedin/goavro [here](https://github.com/linkedin/goavro/blob/c2e63e59e057ed5553a1641a63ec3bd4462f9f0b/logical_type.go).

Logical types are defined and described in the spec thus:
[code]
The

[2019-12-07 09:42] rogpeppe opened #111 "support for single object encoding"
The specification defines a [single object encoding](https://avro.apache.org/docs/1.8.2/spec.html#single_object_encoding) format. It would be useful if gogen-avro could support that. This would also require support for [canonical schemas](https://avro.apache.org/docs/1.8.2/spec.html#Transforming+into+Parsing+Canonical+Form).

[2019-12-16 17:51] rogpeppe opened #112 "type matching should match unqualified names"
The [specification](https://avro.apache.org/docs/current/spec.html#Schema+Resolution) says:

However [the code](https://github.com/actgardner/gogen-avro/blob/master/compiler/method.go#L164) checks the fully qualified names, leading to an "Incompatible types by name" error when the unqualified names match but are part of separate namespaces.

This means that gogen-avro can fail when compiling schem

[2019-12-20 11:37] rogpeppe commented on #110
There's only one case that I can see in the spec where decoding the underlying value for a logical type might fail, and that's when decoding a `uuid` type, which could fail to conform to the expected regular expression (aside: i wonder why they didn't choose a `fixed` type of size 24 for UUID, given that an RFC 4122 UUID is always 128 bits; then this issue wouldn't arise). For other logical types,

[2019-12-26 08:46] josephglanville commented on #110
So I think that is probably a reasonable compromise, that is ignoring invalid logical type definitions but raising errors on valid ones with malformed input (i.e UUIDs).

I haven't had time to dig into other implementations as things were very busy EOY and now it's into the holiday break. When I am back on the tools I will try get into this to validate what is consensus.

In regards to the decimal

[2019-12-27 08:13] dmibor opened #113 "Cant generate code for complex schema with array"
Hi!

I'm trying to generate code for schema with one of the record fields being an array:
[code]
but getting error - `Error decoding schema for file "schema.avsc" - No value supplied for required map key "name"`
debugging the code I see that it tries to find "name" attr for my array - which shouldn't happen since arrays should not have names

tried to add name for the array - but get another error

[2019-12-27 23:14] chengcheng-pei opened #114 "Error: type *generator.Package has no field or method AddFunction"
No idea whether I should put the issue here. But could someone help me with this problem?

[code]

I git cloned https://github.com/burdiyan/schemagen. I run `git build` and then got the above error. Could someone help with this? Thanks

[2019-12-29 06:33] actgardner commented on #114
The root issue here seems to be that the tag for `gogen-avro.v5` has package imports that refer to the Github master, rather than to `gopkg.in/actgardner/gogen-avro.v5`. Usually when cutting a release I would try to rewrite all the imports to use the correct major version on gopkg.in. This is a bug but it's in an older release (we're on v6 and we've stopped using gopkg.in for this reason), so I ma

[2019-12-29 06:39] actgardner commented on #112
Thanks for pointing this out - I've made a small change on master which should resolve this issue. Can you test it out and let me know, and then I can cut a minor release?

[2019-12-29 06:42] actgardner commented on #111
This is a great feature request, unfortunately I haven't had a lot of time to work on the feature backlog for this project lately. I'd be happy to review a pull request to add this though.

[2019-12-29 07:01] actgardner commented on #113
Hey! I'm working on improving the parser and hopefully also the error messages 😅

This isn't a valid Avro schema because you need to define an `array` like you define a record:

[code]

And you need to specify a name for the record field containing the array, which I think you already figured out.

All together this is a valid schema:

[code]

[2019-12-29 07:01] #113 closed

[2020-01-02 03:48] dmibor commented on #113
@actgardner oh, thank you for the tip! confusing avro spec... will try it again

[2020-01-05 20:48] rogpeppe commented on #112
That works fine now, thanks very much!

I wonder whether it might be worth making the check less stringent still, to match the Java implementation. You might be interested to read [this thread](http://mail-archives.apache.org/mod_mbox/avro-user/201912.mbox/browser) that I started in the avro-user mailing list. I think there are good use cases for allowing any two record types with compatible field

[2020-01-05 21:54] actgardner commented on #112
Thanks for checking @rogpeppe! I'd be willing to add an argument to support the Java implementation - where names are only used for union resolution. Extending this to unions as well is a can of worms because:

Two record schemas matching only requires that:

So a record with fields (a,b) matches a definition with fields (c,d), provided c and d have default values. This would break unions of multi

[2020-01-06 11:15] rogpeppe commented on #112
@actgardner ISTM that it could work OK on unions too if both reader and writer have just a single record type in the union - there's no ambiguity then. That said, unions of records and non-record types are probably relatively rare in practice, so maybe that's not worth doing.

Cool, thanks. I might be able to make a PR for this.
Do you have a preference as to the API for the configurability? Curre

[2020-01-07 13:01] actgardner commented on #112
I think this is my favourite option, which could hopefully be adopted elsewhere. The way I see it the reader record definition would support an extra field to specify that names should be ignored during deserialization.

I'd like to make this API change at some point anyways, to add some future-proof mechanism for configuring parameters in the public API. This could be variadic arguments, or a bui

[2020-01-13 18:29] rogpeppe opened #117 "type compatibility should be checked at compile time"
The following [code](https://play.golang.org/p/Qqn7QjfYrbm) succeeds OK even though the field F1 has an incompatible type in each record. The compiler should do a better check than this - if we try to actually use the deserializer, we can get a panic.

[code]

Unless I've missed something, ISTM that the [RecordDefinition.IsReadableBy](https://github.com/actgardner/gogen-avro/blob/v6.3.1/schema/rec

[2020-01-14 07:41] maeglindeveloper opened #118 "Generate avro file from golang struct"
Hi everyone !

I'm new in avro field, and I would like to generate my schema file from my golang struct.
For instance, having a **user.go** file (including my **User** struct) would generate the **user.avsc** file. Is it possible using gogen-avro ? because I don't see any way for that (but I might have wrong 🌊 ).

Maybe it is not possible since it is not "relevant" to generate, from your core code

[2020-01-14 09:00] rogpeppe commented on #117
Here's an example in the Go playground of the deserialization failing with a caught panic: https://play.golang.org/p/77gY9C_QMhu

The error is:

    Panic at pc 4 - Unable to assign int to string field

At least the panic is caught, but it would be nicer if the error could mention the name of the incompatible field and what the type incompatibility is.

It seems that this issue applies to many sch

[2020-01-16 09:23] rogpeppe commented on #118
FWIW I'm working on an Avro package that allows that: https://github.com/heetch/avro.

Here's an example of it in action: https://play.golang.org/p/IyAC2si6rjh

[2020-01-16 09:32] rogpeppe opened #119 "provide a non-mutating way to obtain metadata fields from AvroType"
If I have an AvroType and I want to see if it has any metadata fields (for example `logicalType`), I can call `Definition` but that can mutate the definition as it does so.

It would be nice to provide a method to access metadata non-destructively (currently I can't call Definition concurrently on the same AvroType without triggering the race detector).

How about adding a method to the AvroType a

[2020-01-16 09:41] maeglindeveloper commented on #118
thanks @rogpeppe ! I will have a look at it ;)

[2020-01-20 23:53] #119 closed

[2020-01-20 23:54] actgardner commented on #118
Hey @maeglindeveloper, this tool isn't really intended to generate Avro schemas from Go structs, but I'm glad @rogpeppe was able to help you. I'm going to close this issue.

[2020-01-20 23:54] #118 closed

[2020-01-23 12:53] cameronbraid opened #122 "error when installing - but does not contain package github.com/actgardner/gogen-avro/cmd/gogen-avro"
I am trying to install, but am getting this error

[code]

go version go1.13.5 linux/amd64

[2020-01-23 14:23] cameronbraid commented on #122
The issue is go modules

it works with :

[code]

[2020-01-23 14:23] #122 closed

[2020-02-18 02:38] actgardner commented on #117
This issue should be resolved on master now, I've fixed the IsReadableBy logic for records as well as unions. Let me know if you find any more examples, thanks for raising this.

[2020-02-18 02:38] #117 closed

[2020-02-18 02:39] #114 closed

[2020-02-18 09:01] rogpeppe commented on #117
I'm sorry, but unfortunately this doesn't seem to have fixed the issue for me.
I tried out both the above pieces of code with gogen-avro v6.3.2-0.20200217180605-094ddb94693c+incompatible (the latest master, I believe) and I still get exactly the same behaviour as before.

[2020-02-18 09:50] rogpeppe commented on #117
I added a test in a draft PR to demonstrate the issue: https://github.com/actgardner/gogen-avro/pull/125

[2020-02-18 18:26] actgardner commented on #100
I know the API around maps is clumsy at the moment, I'd like to eliminate the intermediate struct type altogether so these are just regular maps (instead of structs wrapping a map). In the meantime I think this is working as intended, even if it isn't the best experience. Thanks for documenting this for future users!

[2020-02-18 18:26] #100 closed

[2020-02-18 19:10] actgardner commented on #84
Hey @nickretallack, I know this has been open for a while but I did finally add a flag `--sources-comment=false` which you can use to suppress this comment and clean up your diffs. It's currently on master. Thanks for your patience!

[2020-02-18 19:10] #84 closed

[2020-02-19 19:54] joshivinay opened #126 "Preserving order of json keys for Schema() (To use with Confluent Schema Registry)"
Json keys defined in an avsc schema string do not maintain their key ordering when returned from the Schema() method. This creates an issue when working with the Confluent Schema Registry.
The schema registry hashes the original schema string and uses that hash to register the schema with the schema registry.

When consuming from Kafka, if we use the schema string returned from the Schema() functi

[2020-03-04 10:54] dmlambea opened #128 "Code refactoring"
Hi, @actgardner!  Just wanted to tell you I'm doing some experiments in the branch "wip-code-refactoring" of my fork, based in the PR #127 I opened some days ago.

In my branch I tried to reduce duplicated code by applying an initial refactoring of the base types, which led to removal of the resolver package and some other minor changes in the templates. I am currently testing that branch and I've

[2020-03-09 22:05] actgardner commented on #126
Hey @joshivinay, I've been looking at this as part of https://github.com/actgardner/gogen-avro/issues/111, which would add canonical schema forms and fingerprinting. I think that will solve your issue.

[2020-03-09 23:48] actgardner commented on #111
I merged some code in `schema/canonical` to support computing canonical schemas and the Avro 64-bit CRCs per the spec. It'd be great if you could try it out. It would probably benefit from being wrapped in a Writer interface.

[2020-03-09 23:49] actgardner commented on #126
I actually merged support for canonical schemas tonight in v6.4.0, can you try it out and give any feedback in #111? Thanks!

[2020-03-09 23:49] #126 closed

[2020-03-15 01:06] dhiaayachi opened #130 "Avro java serialized deserialization not working"
I'm working on a project that need to have a java service and intended to use avro for service to service communication as follow:

                      JAVA APP----avro Req (byte serialized)----> GO APP
                      <-----avro Rsp (byte serialized)----

I had trouble deserializing Java serialized avro and vice versa deserializing go serialized response. After investigation what I see is

[2020-03-15 01:16] dhiaayachi commented on #130
Update I see that the crc64 is implemented commit aac6fb64e but I don't see how to use it, specially using the command line tool, am I missing something?

[2020-03-17 14:39] dhiaayachi commented on #130
I was able to put the code together crc + canonical form to calculate the the same fingerprint for my schema in java and go side. The idea I have is to change the code generator to include the fingerprint in the generated struct and modify the Serialize/Deserialize func to add/check the fingerprint.
I will need help to understand how the code generation work.

[2020-03-18 20:50] actgardner commented on #130
You're describing Avro's Single Object Encoding (https://avro.apache.org/docs/current/spec.html#single_object_encoding) which is part of the spec we're working on support for (see #111)

I think putting the fingerprint in the generated code is a good idea. Rather than modifying the Serialize/Deserialize methods we'll probably add a new Reader/Writer pair that handle framing the objects. I can take

[2020-03-18 20:53] actgardner commented on #128
Hey @dmlambea, sorry for the slow response. Your current PR and this proposed one both sound great. One thing I'd ask in a big refactor is if you can split the changes into individual PRs and/or commits that have a specfic purpose. That way it would be easier for me to read and give feedback on specific changes while understanding the intent behind them, versus getting one large PR and having to i

[2020-03-19 13:20] dhiaayachi commented on #130
Yes that exactly it.
I already did a patch that use the canonical package (with some slight modification to it) and modified the record.go template to add the headers. The issue I'm having is that I'm not able to configure my environment properly to work with my fork So I can fix the failing tests. See commit below with the modification I did.
https://github.com/dhiaayachi/gogen-avro/commit/bb8d8a

[2020-03-19 19:25] dmlambea commented on #128
Hi, @actgardner, I'm sorry for not contacting you before. This COVID-19 thing is putting a lot of pressure in the gov's IT dept., and I had been focused in other priority tasks for the past days. Due to this, the works in my WIP branch has suffered a slowdown.

I am glad that you liked my proposal, thank you very much, really! Sure, I can work with you to deliver the changes in the way you find it

[2020-03-21 17:07] alejandro-falkowski-gelato opened #131 "Writing header in container.NewWriter"
Currently the solution writes a header just before returning a new writer as can be seen here https://github.com/actgardner/gogen-avro/blob/master/container/writer.go#L71

When using pipes in go https://golang.org/pkg/io/#Pipe this operation blocks unless you create the writer in a goroutine. It would be better to not write it in the NewWriter function and just do it the first time when one calls

[2020-03-23 19:42] actgardner commented on #131
Doing it lazily on the first write seems like a simple change and I don't see any downside, I'd be happy to accept a PR.

[2020-03-26 01:09] #130 closed

[2020-03-26 16:59] actgardner commented on #111
This should be complete in v6.5.0 - the soe package provides single-object encoding according to the spec. As always bug reports and requests for improvements are welcome!

[2020-03-26 16:59] #111 closed

[2020-03-26 17:08] actgardner commented on #131
This should be resolved in the newest release (v6.5.0). Thanks for reporting it!

[2020-03-26 17:08] #131 closed

[2020-03-26 17:10] alejandro-falkowski-gelato commented on #131
@actgardner when will this be released?

[2020-03-26 17:11] actgardner commented on #131
It should be available right now.

[2020-03-26 17:13] alejandro-falkowski-gelato commented on #131
Thanks!

[2020-03-28 05:27] nickretallack commented on #84
Thank you!

[2020-03-31 17:52] Arnold1 opened #133 "question"
Hi,

I have the following schema:
[code]

how can I create the go struct -> serialize it -> deserialize it and read back the go struct?

when I try the following it doesn't work, I'm not sure how to read the test_id from the deserialized data...could you please show?
[code]

cc @actgardner @dmlambea

[2020-04-01 19:46] actgardner commented on #133
`SetLong` on a union type is a method for the VM to populate the _type_ that's selected in the union, not to set the Long value itself. If you print the value of `test_id` before you serialize, it's clear:

[code]
`SetLong` sets the `UnionType` field, but the `Long` field is still 0. What you actually want to do is ignore all the `Set` methods altogether (they exist to fulfill an interface used by

[2020-04-01 22:14] Arnold1 commented on #133
@actgardner thanks so much for your reply.

can you just verify the following sample, any error checks a could add?
[code]

[2020-04-02 17:30] actgardner commented on #133
You should check the value of `demoStruct.test_id.UnionType` - if it's `UnionNullLongTypeEnumNull`, the enum value is `null`. If it's `UnionNullLongTypeEnumLong` then you can just read `demoStruct.test_id.Long`. In the current generated code (v6) `demoStruct.test_id` shouldn't ever be null after deserialization unless there's an error.

Right now you need to set values for the all the fields, they

[2020-04-03 09:30] mikedewar opened #134 "question: can i read arbitrary avro messages?"
I'd like to read arbitrary avro messages from Kafka, where the topic is specified at build time, and the avro schema is pulled from our schema registry.

I thought I'd almost got it by using the `compiler.CompileSchemaBytes(schema, schema)` where `schema` is retrieved from the registry and then `vm.Eval` to deserialise the message.

However I couldn't figure out a way of persuading `vm.Eval` to ac

[2020-04-03 15:01] dangogh commented on #134
I need the same thing,  and it looks like #86 outlines a way to enhance gogen-avro to do it.  I'm contemplating taking that on,  but can't ATM.

[2020-04-04 01:07] Arnold1 commented on #133
@actgardner thank you for your reply.

can't I do the following? I call demoStruct.SetDefault and for the variable I want to initialize to e.g. Long I do the following?
[code]

[2020-04-04 01:09] Arnold1 commented on #133
[code]

[2020-04-04 22:24] actgardner commented on #133
It'll always be 0 because that's the Golang default value when the struct is initialized.

Yes, you could manually call `SetDefault` on every field if you only want to set a subset of fields.

[2020-04-05 01:53] Arnold1 commented on #133
thank u

[2020-04-08 02:25] actgardner commented on #134
This is a little ambiguous, I can see two different scenarios:
1) your records are completely arbitrary and you're simply iterating over all the fields with no application logic, for example to convert records from avro into a different format
2) your records are tied to your application logic - there's a fixed set of records your app can handle, and the app needs to be aware of the fields in the

[2020-04-08 03:30] dangogh commented on #134
I'm not the originator of this issue, but I'd like to provide my perspective.  I'm not particularly interested in mapping to any arbitrary schema.  I'm interested in evolving a schema.  I expect the records on a particular topic to be one of the known versions of that schema and to be able to take the record, determine which version of the schema it maps to and deserialize it.   If it's not a reco

[2020-04-08 07:17] mikedewar commented on #134
@actgardner thankyou for your response! I really appreciate the attention =)

My scenario is definitely scenario 1, except that I'm happy to generate an application tied to a particular schema e.g. the service itself doesn't need to read arbitray avro at run time, and I would love to avail myself of the type safety guarantees having a well defined struct brings.

I also can use a well defined stru

[2020-04-08 13:31] actgardner commented on #134
@mikedewar

This sounds like the workflow I imagined - keeping the schemas and the generated code in a git repo you use as a submodule. This is probably the simplest way to make sure there's a generated struct for each schema (you can use pre-push hooks, etc. to enforce it as well) that can be shared across projects.

There's a lot of hidden "contracts" within the generated code where renaming or

[2020-04-08 22:10] actgardner commented on #40
@nichochar @tzachshabtay @jozef-slezak

This will be the new default behaviour in the next major release - unions that contain `null` can be set to `nil` and serialize/deserialize appropriately. The code is currently on master, if you want to test it out before I cut the official release and offer any feedback.

[2020-04-08 22:10] #40 closed

[2020-04-09 16:32] actgardner commented on #79
This should be resolved on master now, it'll go into the next major release (7.0):

- unions encode as null or a map of `{"type": "value"}`
- enumerations encode to their names
- record structs include JSON tags to use the Avro field names instead of the generated Golang field names

To my knowledge this should bring us in line with the spec and other Avro implementations. If anyone has the bandwi

[2020-04-09 16:32] #79 closed

[2020-04-09 16:33] actgardner commented on #82
@jeroenrinzema per my comment on #79 this should be resolved on master and will be included in the next release. Testing and feedback would be much appreciated.

[2020-04-09 16:33] #82 closed

[2020-04-10 21:32] actgardner commented on #80
The v7 release now uses Go modules! Let me know if there's any issues.

[2020-04-10 21:32] #80 closed

[2020-04-11 00:00] Arnold1 opened #135 "issue with new update"
hi,

after using the v7 update I noticed ```func SetDefault(i int)``` doesn't initialize the fields any more (for the same Avro file):

before (v6):
[code]

now (v7):
[code]

I'm asking because initializing > 100 fields by hand is a lot of work...

cc @actgardner

[2020-04-11 00:05] actgardner commented on #135
In the new version `nil` unions mean `null`. This is a change from 6.x where you had to explicitly set the UnionValue to the null type. This is the correct behaviour.

[2020-04-11 00:08] Arnold1 commented on #135
@actgardner can you give an example what you mean?

[2020-04-11 00:10] actgardner commented on #135
The example you posted is `NewUnionNullLong()`, the first type is `null` so the default must be `null`. So `SetDefault` is correctly setting the pointer to `nil` because in v7 `nil` represents a `null` value in a union. Do you have an example of a field where the default isn't `null` where it's not being initialized?

[2020-04-11 00:11] Arnold1 commented on #135
all of my fields have default with null...

[2020-04-11 00:23] actgardner commented on #135
If your default is null you do not need to initialize the structs in v7.

[2020-04-11 00:25] Arnold1 commented on #135
you mean I don't need SetDefault but only the following?
[code]

[2020-04-11 00:28] actgardner commented on #135
Correct. If you know the default is null for every field, you no longer need to call `SetDefault`.

[2020-04-11 00:35] actgardner commented on #133
There's a lot of improvements in v7 that I've been working on for the past week. Otherwise the Issues section is a good place to see what features are being requested. Support for the confluent schema registry and logical types might be in the future. PRs are always welcome.

I'm going to close this issue out since we've solved your original problem.

[2020-04-11 00:35] #133 closed

[2020-04-11 00:46] Arnold1 commented on #135
ok. also when I look at my go.mod file:
[code]

why I still see v6.5.0?

[2020-04-11 12:48] actgardner commented on #135
You can try manually removing it. If that doesn't work some code is referring to the import without the major version at the end.

[2020-04-12 18:32] mikedewar commented on #134
So I think this makes sense: a general purpose `Deserialise` function that we could rely on existing no matter what, that would switch on the fingerprint of the message. If I've understood it properly it would mean we could build one archiver (or whatever) service and it could consume any known topic? That'd be nice!

I'm less bothered about the Confluent registry than I was 9 days ago, as a colle

[2020-04-15 18:01] Arnold1 opened #136 "schema evolution and Schema Registry"
Hi,

how does gogen-avro support schema evolution and Schema Registry?

Thanks

[2020-04-16 00:15] actgardner commented on #136
If you're referring the Confluent Schema Registry, there's an open issue to add support: https://github.com/actgardner/gogen-avro/issues/86

If you have both the reader and writer schemas, you can use the generated `Deserialize<Type>` method for the reader schema, and pass in the writer schema as the second argument: https://github.com/actgardner/gogen-avro/blob/master/v7/test/evolve-union/schema_

[2020-04-17 09:28] rgalus opened #137 "Incompatible types error for field with array of records"
When schema contains field with array of records that are the same but different in name `compiler.CompileSchemaBytes` is returning Incompatible types error.

It works when using gogen-avro version before this commit https://github.com/actgardner/gogen-avro/commit/fe7b2b3e6e3176aa9fd2c464609723b73902f747

**How to reproduce**
Clone the repo https://github.com/rgalus/gogen-avro-issue and run `go ru

[2020-04-20 01:30] adamtabrams commented on #135
@actgardner I'm having a similar issue in my go.mod file. I'm pretty sure it's because the generated code has imports that don't specifically reference v7. For example:
[code]
I think these are supposed to explicitly import `"github.com/actgardner/gogen-avro/v7/..."`

[2020-04-20 11:51] actgardner commented on #137
Hi @rgalus - this was a change to bring us closer to the Avro spec. Under (https://avro.apache.org/docs/current/spec.html#Schema+Resolution), only schemas with the same unqualified name are considered to match:

The issue at #112 talks about adding a flag to support evolution with differently-named records. I'd be open to merging a PR that added such a flag.

[2020-04-20 11:54] actgardner commented on #135
Thinking about it, there's at least two scenarios where one might find generated code with the old import path:

- the CLI tool hasn't been updated to v7
- there are old, unused generated files committed to git

I'm going to close this issue out since it seems to be solved.

[2020-04-20 11:54] #135 closed

[2020-04-20 15:45] rgalus commented on #137
Hi @actgardner - I've read the other issue and created PR accordingly to discussions

[2020-04-21 16:37] mrjackbo opened #139 "Performance problem deserializing messages"
My use case is as follows: I am reading avro messages from kafka. I know that they are all serialized using a particular schema. For this schema, let's call it `DemoSchema`, I have generated code using gogen-avro. I deserialize the messages using
[code]
I noticed unexpectedly high CPU usage, and the cause appears to be [here](https://github.com/actgardner/gogen-avro/blob/6fdda8d67932d841f82ae52b7f

[2020-04-21 22:22] actgardner commented on #139
Hey @mrjackbo!

`DeserializeDemoSchema` is basically a convenience method for the simple case where the reader and writer schemas are identical and performance isn't crucial. To maximize throughout I recommend exactly what you describe: compile the bytecode for your schema once, and then `vm.Eval` repeatedly. `vm.Eval` can even be fanned out to multiple goroutines to deserialize multiple records i

[2020-04-23 08:08] mrjackbo commented on #139
Thanks @actgarnder, I'll do it like this then.

[2020-04-23 08:08] #139 closed

[2020-04-24 11:03] rcosnita opened #141 "v7 can not deserialize what it previously serialized."
We have just migrated our codebase from v6.5.0 to v7.0.0 and our tests started to fail. Unfortunately, even a basic Serialize / Deserialize test now fails. I'm attaching here the avro schemas and the test input data we are using.

[tmforum-avsc-logical-resources.zip](https://github.com/actgardner/gogen-avro/files/4528461/tmforum-avsc-logical-resources.zip)

Here is the test snippet which is failin

[2020-04-24 20:41] actgardner commented on #141
Hey @rcosnita, I'm having some trouble reproducing this:
- the included ZIP doesn't have the `ApiAction` type, so I had to remove the `Action` field from the definition to compile it
- it's not clear to me what the `deserialize` and `serialize` methods do?

The LinkedIn dependencies are only used during testing, they don't impact how generated code serializes or deserializes data. Are you using th

[2020-05-02 13:41] cameronbraid opened #143 "make generated 'New<Type>' functions fill in defaults for UnionNull<X> types"
example, I have a schema with many union null types since to be backwards compatible this is how they need to be added

schema
[code]

I would like to be able to do this :

[code]

but this fails with a

[code]

So I have to manually remember to add in

[code]

So this causes my code to break each time I upgrade to a new avro schema, if I forget any of these

[2020-05-02 14:35] actgardner commented on #143
Have you tried the newest major release? Unions with a null as the first type are now represented as nullable pointers, which should resolve this issue

[2020-05-04 05:47] cameronbraid commented on #143
v7 solves that issue thanks :)

One thing I did notice that I thought was strange is that the enum value for '0' fo null type was removed

Used to be like

[code]

now it is

[code]

So my code that did

[code]

was broken, did this enum value need to be removed, since it is still possible to have a UnionNullString with a 0 UnionType

Also, it would be nice if there was a method
[code]

so that wh

[2020-05-10 15:58] actgardner commented on #143
Sorry for the slow reply.

This actually isn't possible - we'll never decode this (it'll decode as a nil pointer) and if you try to encode it to Avro you'll get an error for an illegal value in the UnionType field. You should check if `s == nil` now. This change was made in a major release because it has breaking API changes that require you to update your code.

Providing some convenience methods

[2020-05-10 15:59] actgardner commented on #141
@rcosnita Can you provide any update on this issue? Thanks!

[2020-05-15 22:34] markfarnan opened #144 "Round trip failure - wrong union type decoded"
Using GO 1.14  and gogen-Avro V7, latest from Master.

When attempting to round-trip a schema containing a large union,  the deserializer is returning a different  item in the union.

Specifically, the input is 'bytes'   []byte,   and the return is string.

I have created and attached a standalone  Test, all generated files, and all schemas applicable.
Note: This is a subset of a much larger set o

[2020-05-15 23:13] markfarnan commented on #144
So, looking at the dump, I think I see the error in the program.
the ItemUnionEnum for the 'bytes' type is 13

As it loops thru the Possible enums, it gets to:
  44:	|  eval_equal(13)
  45:	|  cond_jump(134)

Then
134:	|  set_long(6)            <-------------- Shouldn't this be 13 ?
135:	|  set(long)
136:	|  enter(6)
137:	|  |  read(bytes)
138:	|  |  set(bytes)
139:	|  exit()

It seems to set a va

[2020-05-15 23:14] actgardner commented on #144
This is by design, the Avro schema says:

and

The first schema in the reader's union that matches the selected writer's union schema is recursively resolved against it. if none match, an error is signalled.

In other words, a union of `[bytes, string]` should always deserialize to `bytes`, because it's the first schema in the reader's union that matches the writer's union, even if the writer's un

[2020-05-15 23:32] markfarnan commented on #144
Thanks for the quick response.

I think I see where its doing this in the compile

compileType()
 writer:
 &{{bytes Bytes []byte vm.WriteBytes bytes}}
---
reader: &{{string String string vm.WriteString string}}
---

As we are using the same reader and writer schema's in our standard,  the expectation is exact round-tripping.  (We have enough problems with  dialects between different companies !).

[2020-05-15 23:39] markfarnan commented on #144
Re-reading the Avro spec, it only indicates it MAY promoted.

  I would propose that it shouldn't be promoting where an exact match is available,  but only should do as a secondary process where it can't find an exact match between reader and writer schema.

Perhaps as a flag on the compiler ?

[2020-05-16 00:28] actgardner commented on #144
I'm fine to make exact matching primitives the default behaviour, I'm just not sure of the timeline. I may have time this weekend to implement it.

[2020-05-16 10:41] markfarnan commented on #144
Awesome.    I've worked around it for now.

[2020-05-16 10:53] markfarnan commented on #13
I'm willing to take a crack at this, but need some  initial guidance please.

I've written a custom file processor, which takes a directory of AVSC files in various namespaces, and generates them into the right place, with appropriate package names.  This works for base schema files with namespaces only.    (#1 in my post above)

However, currently, for each master package, it has to pile all the

[2020-05-16 11:24] markfarnan commented on #143
As an aside.    I recently upgraded to v7 and like the changes to map and union VERY MUCH !.
So thanks for that.

As a suggestion (which seems similar to the above),  could they be cleaned up a little further when there are only 2 entries ?  (i.e. it is just a nullable type).

Currently it still generates a type with an enum you have to set,  when it isn't needed.   i.e.

`const (
	LastChangedFilt

[2020-05-16 14:03] actgardner commented on #144
@markfarnan This should be fixed on master now.

[2020-05-16 22:05] markfarnan commented on #144
Great !   Appreciated.  Will test

[2020-05-17 10:38] markfarnan commented on #144
Appears to work fine,  thank you.
Fixed.

[2020-05-17 10:38] #144 closed

[2020-05-26 19:36] akokhanovskyi commented on #141
Hi @actgardner!

Thanks for all the great work with gogen-avro!

I'm not certain the problem I observe is the same as @rcosnita, but it seems to match the description. We've been using v6 in production for a while now with no issues. On an attempt to upgrade to v7 tests came out red. Here is a quick STR.

Using this schema:
[code]
Try this test:
[code]

The test fails since `out.UnionType` is sudd

[2020-05-26 20:10] actgardner commented on #141
Hey @akokhanovskyi this should have already been fixed on master, I also just cut a v7.1.0 tag that includes the patch. Unions with both `string` and `bytes` will roundtrip as expected.

[2020-05-26 21:01] rcosnita commented on #141
Sorry for the late reply on this issue but I was completely off from this
topic. I will test the latest version from master in upcoming days and let
you know.

Thank you so much for this great project.

On Tue, May 26, 2020, 22:10 Alysha Gardner <notifications@github.com> wrote:

[2020-05-27 09:50] akokhanovskyi commented on #141
@actgardner Thanks for a quick response. Somehow, I'm still unable to make it work. Here is what I did:
- ran `go get -u` to update `gogen-avro` to v7.1 and verified that the new tag is in my `go.mod`
- removed my `gogen-avro` binary and got a new one with `go install`
- regenerated avro files from the schema
- ran my test and it failed.

I blamed `go install`, thinking that it might have got me v

[2020-05-27 11:18] actgardner commented on #141
@akokhanovskyi Thanks for providing all the files in a repo! It made it super easy for me to reproduce.

It looks like the v7.1 code was generated correctly - when I run the test I get:
[code]

So it looks like it's testing for pointer equality on the map values instead of testing the values themselves. This assertion works:

[code]

This new failure seems like a bug in the assertion library. If I

[2020-05-27 11:47] akokhanovskyi commented on #141
@actgardner You're right! I did not notice that the separate test file imported a different `assert` library that has a different `Equal` behavior. The same test passes with `github.com/stretchr/testify/assert` or `github.com/magiconair/properties/assert`.

Thanks for your help again!

[2020-06-05 05:14] unixomg opened #145 "I don't understand why this compileRef error occurs"
A java program writes data to kafka after serialization. I use golang to consume this data from kafka and deserialize it. The following is the avsc schema definition. I turned on LoggingEnabled
`[
    {
        "namespace": "com.alibaba.test.formats.avro",
        "name": "Field",
        "type": "record",
        "fields": [
          {
            "name": "name",
            "type": "string"

[2020-06-05 08:14] unixomg commented on #145
I think I know why the error is occurr, because I have the same field names defined in the two records(BinaryGeometry 、TextGeometry).both the name of the two record types fields define are the same,so  I have modify the  name col define like this：

[code]
run it again ,It works。Is this library not compatible enough for java implementation?

[2020-06-06 12:31] actgardner commented on #145
@unixomg Thanks for reporting this bug. It should be fixed on master now. Can you test it and let me know so I can cut a minor release?

The basic issue was:
- the spec says records are matched based solely on their unqualified name for evolution purposes
- the Java implementation actually supports deserializing a record into a differently named record as long as the their fields match
- *but* whe

[2020-06-08 04:04] unixomg commented on #145
@actgardner Now it works fine, thanks again for your help and thank you so much for this wonderful project...

[2020-06-09 20:14] sebnyberg opened #146 "Writing OCF header without writing messages"
Hey,

I have a job that gathers some data, filters it and writes the output to a file in OCF format. The consumer expects a file to appear on regular intervals.

Sometimes, the end result is no data at all, but I still have to generate the OCF file. Since `container.Writer:writeHeader(schema string)` is lazy and hidden, the `container.Writer` does not help me in this case.

A workaround is of cour

[2020-06-09 20:20] sebnyberg commented on #146
Nevermind, the specification answered my question:

[2020-06-09 20:20] #146 closed

[2020-06-20 17:16] fly512 commented on #145
@unixomg  怎么解决的，我也遇到同样的问题了

[2020-07-10 14:51] markfarnan opened #147 "Compile Error - Incompatible types by name with Identical Read and Write schema."
gogen-arvo  7.10

Getting this error "Incompatible types by name"  when compiling a schema (for deserialize) which contains some unions with a mix of arrays and nullable arrays.

2020/07/10 13:15:42 Incompatible types by name: &{Energistics.Etp.v12.Datatypes.ArrayOfBoolean 0xc000146230} &{Energistics.Etp.v12.Datatypes.ArrayOfNullableBoolean 0xc000146a10}

The two types  'ArrayOfBoolean'   and Arra

[2020-07-11 15:39] actgardner commented on #147
Can you try the latest master and let me know if it still has this issue? 7.1.0 doesn't include a fix for resolving union types by exact name matches which I think would fix this.

[2020-07-12 08:08] markfarnan commented on #147
v7.1.1 appears to fix the issue.  My tests now pass again.      Thanks !.

[2020-07-12 08:08] #147 closed

[2020-07-15 17:23] jdeal-mediamath opened #148 "Install command not working"
I've tried running the install command in the Readme for v7 `go install github.com/actgardner/gogen-avro/v7/cmd/...`, and it is refusing to install with `go: warning: "github.com/actgardner/gogen-avro/v7/cmd/..." matched no packages
`.
I've also tried dropping the `/...` at the end, which gives me:
[code]

It appears that something with the move to v7 has caused the go install to no longer coopera

[2020-07-20 00:31] actgardner commented on #148
I've updated the docs to `go get github.com/actgardner/gogen-avro/v7/cmd/...` which should be the correct command.

[2020-07-21 20:43] jdeal-mediamath commented on #148
Thanks for the update! When I run that I get:
[code]

[2020-07-26 17:03] actgardner commented on #148
What version of Go are you using? Can you try `go get github.com/actgardner/gogen-avro/...`

[2020-08-24 16:41] smousa opened #150 "Deserialize function receives: fatal error: runtime: out of memory"
Been seeing this when trying to deserialize an avro object from `bytes.NewBuffer`

[code]

[2020-08-24 17:52] actgardner commented on #150
Hey @smousa, can you provide your schema and ideally some sample data that reproduces the issue? It's very difficult for me to diagnose without knowing what data you're deserializing.

Also, what kind of environment is this? Docker container, your laptop, etc? How much memory does it have? It's totally possible this is a bug, but it could also just be that the data is very large to fit into memory

[2020-08-24 18:17] smousa commented on #150
Hi, thanks for the quick response...I think I solved at least part of the problem: I will open a pull request against master shortly

The other part of the problem may have to do with a schema mismatch on my end.  I will reopen the ticket if that is not the case.

Thanks!

[2020-08-24 18:17] #150 closed

[2020-08-24 18:30] smousa commented on #150
https://github.com/actgardner/gogen-avro/pull/151

[2020-09-14 12:56] actgardner commented on #112
Hey @rogpeppe, this should be resolved thanks to the laxNames option to Compile that merged in #138. Let me know if you run into any edge cases.

[2020-10-26 13:40] actgardner commented on #137
Going to close this issue since lax name support has landed, thanks for the report and the PR!

[2020-10-26 13:40] #137 closed

[2020-10-29 15:01] actgardner opened #153 "Prefix generated method names to reduce collision risk"
Add a prefix to method names to reduce the risk of collision with field names.

[2020-10-29 15:02] actgardner opened #154 "Fix JSON encoding for bytes fields"
Go's default JSON encoding base64 encodes `[]byte` fields, but the Avro spec requires us to convert each codepoint to a value from 0-255. Ex. `\u00ff` should be `[]byte{255}`

[2020-10-29 15:04] actgardner opened #155 "Aliases can't be resolved within the same schema"
Currently we support referring to a type using an alias within the same schema file. This isn't supported in other Avro libraries - aliases are only used for evolution.

[2020-10-29 15:06] actgardner opened #156 "JSON-encode unions with fully-qualified type names"
The spec is not explicit, but other avro libraries encode the fully-qualified name of a type into the key when JSON-encoding a union. We should do the same.

[2020-10-30 16:12] actgardner opened #157 "JSON deserializer throws an error for unsupported union values"
Right now JSON deserialization silently drops unexpected values for a union. Throw an error instead.

[2020-10-31 14:08] actgardner opened #158 "JSON-encoded record fields are case sensitive"
When serializing and deserializing JSON data, record field names are case sensitive.

[2020-10-31 14:10] actgardner opened #159 "JSON decoding handles defaults and required fields"
JSON decoding should error if required fields are missing, and set default values for other missing fields.

[2020-11-04 13:26] AtakanColak commented on #110
@josephglanville Maybe there is a way to represent LogicalTypes with the schema package? I tried to add it as part of definitions but when I do a union over it, it breaks.

[2020-11-04 15:13] actgardner commented on #134
Just a heads up, I've added support for generic data types in the most recent major release. This might serve your needs, let me know: https://github.com/actgardner/gogen-avro/blob/master/README.md#generic-data

[2020-11-06 18:53] #153 closed

[2020-11-16 12:56] AtakanColak opened #160 "[feature request] [generic package] Add Avro Schema Generation from Go map[string]interface{}"
Hello, thank you for this library. I couldn't find a way to generate Avro Schemas from Go during runtime so I started working on it as a wrapper package at [my repository](https://github.com/AtakanColak/kafkavro). I saw addition of a generic package as beta, so I thought maybe I could add this functionality to the generic package in this repository instead. Just let me know of your thoughts and if

[2020-12-01 02:55] ChenJhua opened #161 "How to manage New<Type> method"
1. I have multiple types of instance New methods reading and writing files
2. I want to manage these instance methods
3. Do you have any good management advice

[code]

[2020-12-19 16:48] actgardner commented on #161
Hi @ChenJhua! I'm not sure what you mean by "manage" these methods - can you provide more information about your use case?

[2020-12-22 01:41] ChenJhua commented on #161
such as: Because the method name and return parameter type are not the same, I need to write two methods with repeated codes
But, I want to get rid of the duplicate code, I don’t know how to deal with it.
It will be easy to handle if this in python,But I just learned golang
[code]

[2020-12-26 17:47] actgardner commented on #161
Unfortunately Golang lends itself to a lot of boilerplate like this, and the generated container reader code isn't really designed to be terse.

You can always try using some inline functions to reduce the duplicated code like:
[code]

I'll consider adding new reader methods that accept a target struct to the OCF reader, which would reduce the amount of boilerplate involved as well.

[2020-12-28 00:53] ChenJhua commented on #161
Thank you very much for letting me learn the way of inlining functions, which solved my problem; At the same time, I am looking forward to your new version of the solution。

[2020-12-28 00:53] #161 closed

[2021-01-02 22:19] actgardner commented on #160
Hi @AtakanColak! This seems like an interesting project (generating Avro schema definitions from Go structs) but I don't think it's a good fit to add to gogen-avro. Thanks for the suggestion though :)

[2021-01-02 22:19] #160 closed

[2021-01-11 19:26] sdatchley opened #162 "How to get the latest v6 executable?"
Hi, I'm trying to upgrade our 6.1 binary to the latest 6.5 and what is on the 6.5 readme doesn't seem to work:

go get -d github.com/actgardner/gogen-avro/cmd/gogen-avro

Any pointers on getting/building 6.5? Installing v7 works fine, but I've been told we want to stay on v6 for now.

Thanks!
Dean

[2021-01-12 13:18] sdatchley commented on #162
figured out how to build it, all good (new to go here)

[2021-01-12 13:18] #162 closed

[2021-01-15 17:17] a-watters opened #163 "json.Marshal add M value for Maps"
Having defined a struct foo which contains a map fooMap the resulting json.Marshal adds an additional 'M' level to the json.

avsc file:
{
  "namespace": "example.foo",
  "type": "record",
  "name": "foo",
  "fields": [
    {
        "name": "fooMap",
        "type": {
            "type": "map",
            "values": "string"
        },
        "golang.tags": "json:\"fooMap\""
    }
  ]
}

output

[2021-01-16 15:33] actgardner commented on #163
This is a known issue with how the 6.x version of gogen-avro generates structs to store maps. The 7.x releases fixed this issue and should encode a map to JSON as expected. JSON encoding support is an ongoing effort, and my goal is to have 8.x be fully compliant with the Avro spec. Let me know if you have any issues with the 7.x or 8.x beta release!

[2021-01-16 15:33] #163 closed

[2021-01-17 22:26] a-watters commented on #163
I'm seeing this issue using v7.3.0

`someFooMap := avro.NewMapString()`
`someFoo := avro.Foo{FooMap: someFooMap}`
`jsonFoo, _ := json.Marshal(someFoo)`

[2021-01-17 22:30] actgardner commented on #163
Can you post the generated code for the map type?

[2021-01-17 22:32] a-watters commented on #163
`// Code generated by github.com/actgardner/gogen-avro. DO NOT EDIT.
/*
 * SOURCE:
 *     foo.avsc
 */

package foo

import (
	"github.com/actgardner/gogen-avro/vm"
	"github.com/actgardner/gogen-avro/vm/types"
	"io"
)

func writeMapString(r *MapString, w io.Writer) error {
	err := vm.WriteLong(int64(len(r.M)), w)
	if err != nil || len(r.M) == 0 {
		return err
	}
	for k, e := range r.M {
		err = vm

[2021-01-17 22:35] actgardner commented on #163
That doesn't look like code generated with v7, the imports and comment should be `github.com/actgardner/gogen-avro/v7`. Can you remove and reinstall the gogen-avro binary and regenerate the code?

[2021-02-25 00:57] shiyao-afterpay opened #164 "Error with escaped character"
The following fails:
example.avsc
[code]
gogen-avro output example.avsc

Error writing source files to directory "output" - Error writing file output/foobar.go - 18:1: expected '}', found ',' (and 1 more errors)

Problem occurs due to the \n escaped char.  This example.avsc is generated from the avdl with the official java tools. So it shall be valid itself.

[2021-02-28 12:57] shiyao-afterpay commented on #164
@actgardner thoughts on this?

[2021-03-01 00:52] actgardner commented on #164
@shiyao-afterpay Thanks for reporting this issue! It should be fixed in the version I just released (v7.3.1)

[2021-03-01 00:52] #164 closed

[2021-04-15 13:11] matlockx opened #165 "Question: Default values for record creation"
We recently switched from an older version to the latest release and found out, that New<Record>() does not set the defaults anymore. We used that everywhere during record creation for kafka events so my question is now: is there a way to achieve that again with the current release, cause i do not see any.

[2021-05-04 15:20] samuelhewitt commented on #156
When using gogen-avro v7 generated structs for union type, there is an issue in combination with [linkedin/goavro](https://github.com/linkedin/goavro/blob/9f4e906150da20936a04d07bc0bc4d3f7c28bf56/union.go#L127) and [apache-pulsar](https://github.com/apache/pulsar-client-go/blob/5fb7f55939e6f4ec28126339b22a6b4018c0f2fa/pulsar/schema.go#L180-L192).

The pulsar client code Encode uses three steps to

[2021-05-08 20:22] actgardner commented on #165
Hi @matlockx, I've just released v8.0, one of the changes is that the default values are set for new records in the constructor again. Let me know if you have any issues!

[2021-05-08 20:22] #165 closed

[2021-05-08 20:22] #159 closed

[2021-05-08 20:22] #158 closed

[2021-05-08 20:23] actgardner commented on #156
@samuelhewitt This should be fixed in the 8.0 release I just cut, feel free to reopen this issue if it isn't!

[2021-05-08 20:23] #156 closed

[2021-05-08 20:23] #155 closed

[2021-05-08 20:23] #154 closed

[2021-05-17 16:27] rgalus opened #166 "unions with different type order panic"
The issue happened when migrating from v7 to v8. Looks like when 2 fields has same union but with different order in the schema it returns an error.

Schema:
[code]

Fixtures:
[code]

Returns an error:
[code]

Test that reproduce issue:

https://github.com/rgalus/gogen-avro/commit/b284c619deaa93ff8f63730d9c1bda3249b672f9

[2021-05-19 14:25] matlockx commented on #165
:+1: lgtm

[2021-05-19 14:25] matlockx commented on #165
thanks

[2021-06-01 13:26] Bluezen commented on #148
Hello! I encountered the same issue with the following Go version:
`go version go1.14 windows/amd64`

Running the command in the previous commentary did the trick for me:
`go get github.com/actgardner/gogen-avro/...`

Regards

[2021-06-22 16:45] puhlenbruck opened #167 "enum default values are not used"
The current behaviour of reading enums does not match the [Avro spec for schema resolution.](https://avro.apache.org/docs/current/spec.html#Schema+Resolution)

if the writer's symbol is not present in the reader's enum and the reader has a default value, then that value is used, otherwise an error is signalled.

The actual behaviour is to read the encoded int value as is, without checking to see i

[2021-06-27 16:12] actgardner commented on #166
Hey @rgalus, thanks for the very detailed and clear bug report! This was pretty simple to resolve but it involved changing the name of the type generated for unions containing null, so I've cut a new major release (v9) to reflect that breaking change. Let me know if you run into any more issues :)

[2021-06-27 16:12] #166 closed

[2021-06-27 16:15] actgardner commented on #167
Hi @puhlenbruck! Thanks for the bug report. Looking at the spec I think there's actually a few things we're doing incorrectly with enum evolution - they should be resolved by symbol name and not numeric value, such that you could re-order the symbols and they would deserialize correctly between schema versions.

I don't have the bandwidth to tackle this immediately but in the next few weeks I'll r

[2021-06-28 16:12] puhlenbruck commented on #167
Thanks for taking a look!  I noticed that as well looking a bit closer.  Using the default values shouldn't be too difficult, just validating in the generated `SetInt` could do it, but handling by symbol (allowing reordering) could be more challenging since it would mean finding the symbol of the index in the writer then finding the index of the same symbol in the reader.  The current `compileEnum

[2021-07-30 21:35] cmouli84 opened #169 "Same enum name in different namespace"
Hi

We are running into an issue due to same enum name present in different namespaces. Find below the sample schema to illustrate the issue we are running into

[code]

In the above schema, `SomeEnum` is present under namespaces `com.company.team` and `com.company.shared` and the enum in those namespaces allows for different set of values. But the generated go structs refer to same enum from `com

[2021-08-02 17:29] dylanmei commented on #169
The issue appears to be related: https://github.com/actgardner/gogen-avro/issues/13#issuecomment-278990580

[2021-08-11 16:01] robhoeting-kr commented on #86
Are you still looking for help on this?

[2021-08-20 19:37] casimcdaniels commented on #136
@actgardner Happy Friday!

Just curious what the suggestion is for usage of this library with consideration of schema registry (confluent  for example). Is this library necessary or serve as a replacement for schema registry? Trying to wrap my head around the ecosystem and I'm wondering about the intended workflow with this library versus using SR.

[2021-09-12 05:00] tneilturner opened #171 "Exception when deserializing: Panic at pc 196 - (set(int))"
Hello,

I am doing something a tad ambitious with Avro, in that I am attempting to stitch together a workable SDK in Go that will allow my team to simply pass along some JSON data and "magic happens".  I am also doing some rather daring things with maps and unions, and I suspect that it's causing your code to be sad.

Anyway, I am able to successfully get the data to serialize properly using the L

[2021-09-12 07:10] tneilturner commented on #171
I simplified the schema down to this:
[code]

And I am still seeing the same error :(

[2021-09-12 15:55] actgardner commented on #171
Hey @tneilturner! Sorry about this issue. Based on the simplified reproduction you posted it seems like the issue is either the entity_type enumeration, or it's in one of the nested field types (Json, app, browser, user, robot, k8s, etc.). Without knowing the schemas of those nested types it's hard for me to reproduce the issue.

If you have time, can you try bisecting the fields in the `entity` s

[2021-09-12 17:36] tneilturner commented on #171
Thanks for the quick response!

Here is the code I use to do the serialization:

[code]

I'm adding a custom isomorphic transformation in step 3 to handle types of `org.mycompany.avro.data.Json` so that the linkedin serializer can serialize any arbitrary JSON.

Here is the code to deserialize:

[code]

I will try narrowing down the issue by systematically removing fields from the `entity` struct,

[2021-09-12 19:37] tneilturner commented on #171
I have narrowed down the failure to be definitely caused by the `enum` types.  The `k8s.avdl` file also has an enum in it that was causing the same kind of failure.  If I remove both the `entity_type` and `k8s` fields, it works.

For reference, this is the k8s schema:

[code]

[2021-09-12 20:07] actgardner commented on #171
@tneilturner Thanks for narrowing down the issue. This looks like a bug in the generic deserialization part of the library, I've released v9.1.0 which should support deserialization enums.

Note that there is an issue #167 which documents some limitations around enums. If you're using the same schema to read and write them, you shouldn't have any problems, but evolution currently doesn't resolve s

[2021-09-12 20:16] tneilturner commented on #171
Great!  Thank you so much!

[2021-09-12 20:25] tneilturner commented on #171
Hi again... I just bumped up the version, a tried again but with no luck.  :(

[2021-09-12 20:30] actgardner commented on #171
Hey @tneilturner, that looks like a separate issue - can you enable logging and post the logs? https://github.com/actgardner/gogen-avro#reporting-issues

[2021-09-12 20:45] tneilturner commented on #171
Absolutely, my apologies for not doing that to begin with.

Here they are:

[code]

[2021-09-12 20:52] tneilturner commented on #171
On a side note -- I'm really interested in your approach to this problem if you would care to describe how the compiler/vm approach works at a high level for deserialization.

Very interesting indeed!

[2021-09-23 14:15] actgardner commented on #171
Hey @tneilturner, I'm still looking into the new error. The compiler/VM idea was a way to add support for schema evolution - originally this library only supported generating serde code for a single schema, and it did it by plugging together a few templated pieces of Go code for "deserialize a data type", "switch on a union type", "loop over the elements of an array/map" and compiling them.

To su

[2021-09-24 22:40] tneilturner commented on #171
Thanks for continuing to look into this!  And thanks for the explanation about how it works.  One of these days when I have time I'll have to examine your code more thoroughly.

[2021-09-29 01:50] actgardner commented on #171
@tneilturner I've corrected another issue with generic enums, let me know if v9.1.1 fixes your issue.

[2021-10-07 01:16] tneilturner commented on #171
Hi @actgardner!  It works now!!!

Thank you so much 🎉

[2021-10-15 22:19] cmouli84 commented on #169
Thanks @actgardner Issue is resolved with latest release (10.1.0)

[2021-10-15 22:19] #169 closed

[2021-11-01 14:32] ahawtho opened #172 "Union usability improvements"
Including a `NewXxxUnionTttt` and/or `SetTttt` for each union type that sets the appropriate type enum value would significantly improve usability. Currently, many of the straightforward approaches for setting a non-default value produce panic()'s or

See the end for a strawman for starting discussion.

Schema:

[code]

In `v10`, this produces the following code:
[code]

Test code:
[code]

 E.g.,

[2021-11-11 08:18] dstendardi opened #174 "Question : Would you consider making the templates overridable ?"
We would like to hook into the code generation to introduce a custom hook and encrypt specific fields before sending them over the wire.

Would you consider making [templates overridable](https://github.com/actgardner/gogen-avro/tree/master/v10/generator/flat/templates)  as it is done with velocity in the JVM libraries ?

As this is a question, I did not yet have a proposal on how this could be do

[2022-01-12 06:49] jweibel22 opened #176 "Schema evolution"
I need a tool that can help determine if a new version of a schema is fully-compatible with the old version and have been considering to use this library.

I found an issue illustrated by this test case https://github.com/actgardner/gogen-avro/blob/master/v10/schema/evolution_test.go#L43 where a record is found to be compatible with another record that has the same name, even if some of the fields

[2022-01-26 16:14] i7tsov commented on #174
You could encrypt fields before serialization and decrypt them after deserialization in your code. Am I missing something?

[2022-02-02 08:33] dstendardi commented on #174
Thanks for the idea @i7tsov . That is an alternative we are considering, however we would like to spare the complexity of reflection after deserialization, and we do think hooking directly into the generated code would help on the matter.

[2022-02-03 02:43] actgardner commented on #174
Hi @dstendardi! I would be open to a way to use pluggable templates, with the caveat that the interface for templates might change in any major release. If you want to put together a PR I could take a look.

[2022-02-03 02:44] #167 closed

[2022-02-03 14:55] i7tsov opened #178 "Generated constructor code calls NewUnionNull*() which is overwritten by nil"
I've noticed some weirdness in the generated code:

[code]

Avro schema contains unions of null&array and null&map.
The result of `NewUnionNullArrayNested()` is instantly overwritten with nil (which is the default value for the field), allocating unnecessary memory on the heap.
As far as I can see, there are no side effects of `NewUnionNullArrayNested()` function.

[code]

Is that intended?

[2022-02-11 02:29] actgardner commented on #178
Hey @i7tsov, can you post the Avro schema that produces this code?

[2022-02-11 19:09] actgardner commented on #178
@i7tsov I've fixed this so that when the union field's default is null, the record constructor skips instantiating the struct.

[2022-02-11 19:09] #178 closed

[2022-02-12 08:21] #174 closed

[2022-02-21 21:29] chichunhua opened #181 "Q: only strings can be serialized?"
Hi there, I used it to generate `avro schema `for `go code`, however when I `serialize` it only` string` fields are done successfully, others like` int64` and `enums` are not. is it known issue or is there anything I missed?

Looking forward your kind reply!

[code]

[2022-02-21 22:14] actgardner commented on #181
@chichunhua Can you please supply the full code that isn't working? I wrote a short example based on what you posted and it works as expected:

schema.avsc:
[code]

main.go:
[code]

Running the example round-trips the event properly:
[code]

[2022-02-21 22:49] chichunhua commented on #181
it's not a single avsc file but embedded structure.
[code]

[code]
[code]

[2022-02-22 14:13] chichunhua commented on #181
Thanks a lot for your help, the issue is resolved, I think I used the wrong way to unmarshal it.

[2022-02-22 20:43] #181 closed

[2022-02-28 13:56] AbdulRahmanAlHamali opened #182 "Union type does not have a fingerprint"
Hello,

Is it intentional for unions not to have a fingerprint, and thus to not implement `soe.AvroRecord`? We have a topic that has a union at the root level, so it's necessary for us to be able to have a fingerprint there

[2022-03-11 10:03] Cyberpunk314 opened #183 "how to filter the 'null' in MarshalJSON()?"
for example, there is a result for MarshalJSON() function.

`{"bucket":{"int":0},"buckets":null,"docid":null}`

I want to filter the 'null' in this case.

[2022-03-30 15:06] jiping-s opened #184 "null union should not generate union types"
Unions with null in code should be replaced by pointers or option types.

For example:

[code]

Generates a NameUnion, which could have been:

[code]

[2022-04-13 14:18] bozhidarG opened #185 "Issue with schema evolution when adding an enum"
Hello i've stumbled upon an issue in the latest version `v10.2.0` , i've also managed to reproduce it with some simple schemas.
We have this issue only when we are serializing with one schema and deserializing with a backward compatible one.
The schema used to serialize the msg is as follows
[code]
The schema used to deserialize :
[code]
For both schemas i've used the cli tool to generate static c

[2022-04-16 20:21] actgardner commented on #185
Hi @bozhidarG! Thanks for such a clear error report. I was able to fix this issue in the most recent release (10.2.1). Let me know if it works for you.

[2022-04-16 20:21] #185 closed

[2022-04-16 20:30] actgardner commented on #183
@Cyberpunk314 You want to encode the record as JSON but you want to omit the empty fields? This library generates structs that serialize to JSON according to the Avro spec, which means the `MarshalJSON` method includes null fields.

[2022-04-16 20:31] actgardner commented on #182
Hi @AbdulRahmanAlHamali! Sorry for the slow response. This should be possible for me to implement. I would also be open to a PR adding the fingerprint :)

[2022-04-16 20:33] actgardner commented on #176
Hi @jweibel22! Sorry for the slow reply. This is kind of a historical accident, most users don't use the schema parsing part of the library separately, so most of the record-compatibility logic lives in the compiler. I would be open to adding an optional flag to the schema package which would enforce stricter checks.

[2022-04-16 20:33] actgardner commented on #148
Hi @Bluezen - have you tried `go install github.com/actgardner/gogen-avro/...@latest`? The README has been updated since `go get` was deprecated.

[2022-04-17 06:12] jweibel22 commented on #176
That would be awesome! 🙌

[2022-04-17 06:28] jweibel22 opened #187 "time.Time"
Currently there's no support for the time.Time go type.
One option would be to extend your library with support for a specifically named logical-type, e.g. "date-time", another option would be to add support for logical-types in general (where clients can provide custom type converters).
What are your thoughts on this matter? Are logical types even being considered? (There's another very old issue

[2022-04-17 14:31] actgardner commented on #187
Hi @jweibel22 - adding support for the time and duration logical types is something I would consider, because there's corresponding stdlib Go types for them. I would be open to a PR for this, I'm not sure when I'll have the bandwidth.

In the past users had asked about the decimal type, but AFAIK it would require adding a dependency on a specific implementation of arbitrary precision decimals.

[2022-04-18 07:07] bozhidarG commented on #185
Thanks, all works as expected now.

[2022-04-19 09:01] kk3009 commented on #148
go install github.com/actgardner/gogen-avro/...@latest

RETURNS

go install: github.com/actgardner/gogen-avro/...@latest: module github.com/actgardner/gogen-avro@latest found (v10.2.1+incompatible), but does not contain packages matching github.com/actgardner/gogen-avro/...

[2022-04-29 15:07] rayokota opened #188 "Serializing generic data"
Hi, I'm looking into using this library at Confluent and it looks like this can be used for both generated structs and generic data.  However, I don't see an example of how to use this to serialize generic data.  Is it possible to serialize generic data with this library?

[2022-06-06 16:26] tneilturner opened #189 "Generating code for large enums is problematic"
Hi again!  👋

Ran into this when trying to generate code for a schema that relies heavily on enums:

[code]

Schema is the following:

[code]

As you can see I'm relying heavily on enums, and since your code appears to spit out filenames based on the type space of the enum, the file name gets too long.  Oh dear!

[2022-06-10 15:02] klausner17 opened #190 "There is a typo in hamba reference in README"
There is a typo in hamba reference in README, it's minor.

[hamba/avro](https://github.com/hamba/avro**]**) is another library oriented towards high performance for generic data.

[2022-06-10 15:04] klausner17 commented on #190
https://github.com/actgardner/gogen-avro/pull/191

[2022-07-20 15:30] h-artzi opened #192 "Feature Request for Deep Namespacing"
# Feature Request for Deep Namespacing

## Problem Statement
Generating all files in one package may lead to errors related to different namespaces sharing the same schema name. This [issue](https://github.com/actgardner/gogen-avro#naming) has clearly been called out in the README as well.

## Desire

Add a configuration flag which will allow files to be generated in their own packages based on th

[2022-08-02 09:23] galion96 opened #193 "Autogenerated MarshalJSON function does not respect ordering"
Hello,

I am using this library as a validator before streaming data to PubSub, and since avro requires a strict order I assumed that
MarshalJSON is ment to respect that ordering, and the method does seem to do some only to call `json.Marhsal` in the end and ruin the order.
Is this intended?
Code example that was autogenerated from avro schema-

`MarshalJSON() ([]byte, error) {
	var err error
	out

[2022-08-15 14:20] frankgrimes97 commented on #184
We too have found this to be very surprising behaviour... handling simple null unions as struct fields would align with how Avro Java codegen works and seems a much more intuitive representation.

@actgardner Any chance this could be addressed in a future release?

[2022-09-07 18:35] EArbeitman opened #198 "Unable to resolve type reference"
Hi,

I'm attempting to parse the following avro schema:

[code]

My go code that does the parsing:

[code]

When that code is executed, I get the following error:

[code]

I'm wondering if this library supports parsing custom types? Any guidance would be appreciated.

Thank you,

[2022-09-13 18:43] EArbeitman commented on #198
Hey @actgardner any ideas?

[2022-10-13 08:42] tomasfabian commented on #40
Hi @jozef-slezak @actgardner ,
how can we switch the **gogen-avro** to generate a `*string` type instead of a `UnionStringNull`, please? I didn't find a flag for it.

Thank you!

[2022-11-02 07:38] YoussefOuirini opened #199 "Unknown enum instead of default enum"
Basically same issue as [here](https://github.com/actgardner/gogen-avro/issues/167) on v10.2.1

Error:
[code]

Expected: default "UNKNOWN" symbol to be used instead of error

[2022-11-29 20:53] nick4fake opened #201 "Add an option to keep old behavior of union/structs using pointers"
Hi,

What do you think about adding possibility to keep using pointers? I don't see any relevant tickets or documentation.

I am talking about this change:
https://github.com/actgardner/gogen-avro/commit/ecdb974b8361ee0a028dcdd81c8080210f9a5627